[2015-05-08 12:42] nitrada opened #1 "randomise"
we should think about a way to instead of use the order in the JSON, we can randomise it

[2015-05-08 12:44] nitrada opened #2 "truncate"
a way to tell a (single line) text layer it's limited to N characters, then cut the text and insert an ellipsis (…)

[2015-05-08 12:45] nitrada opened #3 "redo last command"
it would be very handy to be able to do "populate again" and it will use exactly the same JSON file as last time

[2015-05-08 12:47] nitrada opened #4 "presets"
have a "presets" folder in the plugin folder where you can move the JSON files. then, when running the plugin, it will give you a dialog to choose from those files (compare color palettes plugin)

it should still be possible to "import" any JSON from anywhere

[2015-05-08 12:53] nitrada opened #5 "icon "placeholder""
scenario: in the data, you say eg. "icon": "email". in the sketch template you have a placeholder boundingBox with the desired size called "icon". the plugin looks up another sketch file and grabs a layer group (containing the mail icon as vector) called "email" and inserts the appropriate icon.

(i think it's not really possible technically, since generally speaking, this would be a great solutio

[2015-05-13 18:56] nitrada opened #6 "hierarchical data/layer structures"
the data hierarchy
[code]
could be matched to the following layer hierarchy
[code]
meaning that {placeholders} will only be replaced on the respective level of the hierarchy

[2015-05-19 20:25] nitrada commented on #5
we're currently using pngs for icons as well. would already be great to use svgs instead so the colors are flexible.

A svg couldn't be used as a rectangle background though. an idea: we set a placeholder icon in the desired size and color and replace it with the svg asset. The size and color should be adapted programmatically.

[2015-05-20 18:19] lukas77me commented on #4
There is now a 'Presets' folder in the plugin bundle and nested folders are also supported. When selecting the presets on the new UI panel, nested presets are shown like 'folder/subfolder/my-preset'.

[2015-05-23 11:16] #1 closed

[2015-05-23 11:16] #2 closed

[2015-05-23 11:16] #3 closed

[2015-05-23 11:16] #4 closed

[2015-05-27 10:23] rockitbaby opened #7 "Correct manifest identifier"
`"identifier": "com.precious.sketch.datapopulator"` should become "identifier": "com.precious-forever.sketch.datapopulator" as we do not own precious.com

[2015-05-27 11:11] #7 closed

[2015-06-18 12:41] ricburton opened #8 "Submission to the Sketch Plugin Directory"
It’d be great to have this in there :)

[2015-06-18 18:45] nitrada commented on #8
It IS in there, isn't it?

[2015-06-18 20:30] ricburton commented on #8
Apologies. I was searching from within Sketch Toolbox and I think it had cached the directory.

[2015-06-18 20:30] #8 closed

[2015-06-18 20:45] rssilva opened #9 "Populate using data from url"
Is possible to use JSON data from a API available on an URL?

[2015-06-19 06:30] nitrada commented on #8
Alright. 😎

[2015-06-19 06:31] nitrada commented on #9
"Populate from URL"?

[2015-06-19 08:26] adyz commented on #9
This would be the best feature, not only of this plugin, but for sketch too!!!
Awesome ideea guys, keep up the work with this plugin!

[2015-06-19 09:01] #5 closed

[2015-06-19 10:17] lajlev commented on #9
:+1:

[2015-06-19 10:22] lajlev opened #10 "When populate again only image repopulate"
![bug-sketch-data-populator](https://cloud.githubusercontent.com/assets/133836/8251553/d0a369fc-167d-11e5-8439-b17f05df4af4.gif)

If I press `cmd + z ` and the press populate again it works.

[2015-06-19 13:34] nitrada commented on #10
@lajlev that's because once populated, the text {placeholders} lose their meaning. the image layers names remain the same though.

[2015-06-22 17:45] VinSpee commented on #6
this would be rad!

[2015-06-24 06:32] nitrada commented on #10
@lajlev I think we have an idea how to fix this (need to persist the original string with {placeholders} before populating a text layer). working on it.

[2015-06-24 10:15] lajlev commented on #10
:+1: Awesome. Looking forward to it.

[2015-06-25 15:27] clarklab opened #11 ""Populate again" improvement"
When I click "Populate again", nothing happens, because my {tags} are all gone, and the plugin sees nothing to populate. I'd LOVE IT if the plugin could actually repopulate all the zones again, sorta like a shuffle.

It seems like a great way to test to strength of my layout, to just shuffle one random set after another into place. Currently it seems like I'd need to maintain a "source" set of art

[2015-06-25 16:17] nitrada commented on #11
you can re-populate images because they remain their {placeholder} layer name.

naming the text layer itself {placeholder} doesn't work since you can use several placeholders in one text layer (for concatenation, e.g. "{first_name} {last_name}" or "{quantity} x {price} = {subtotal}"). layout and truncation would be awkward with several text layers.

but as commented in #10, we're already working o

[2015-06-25 16:17] #11 closed

[2015-06-26 00:36] clarklab commented on #9
huge +1 here, but fear images would throw a kink in the plan

[2015-06-26 00:36] clarklab commented on #9
related: today I wrote a little thing for my Jekyll blog to output data from live posts, ala http://chowdown.io/recipes.json

[2015-06-26 08:12] fculshaw commented on #6
I'm dealing with a JSON file with a lot of levels of objects and It would be really great if this type of file was supported, for example:

   "images":{
              "landscape":{
                 "landscape-01":"assets/landscape.jpg",
                 "landscape-02":"assets/landscape-02.jpg"
              },
              "portrait":{
                 "portrait-01":"assets/portrait-01.jpg",

[2015-06-26 08:28] nitrada commented on #10
it's now possible to re-populate text layers:
https://github.com/preciousforever/sketch-data-populator/commit/db3d45cdb900f33d5d340dd115495466b6702542

[2015-06-26 08:28] #10 closed

[2015-06-26 14:18] nitrada commented on #6
@fculshaw this is not yet possible but exactly what we need. :)

[2015-06-30 20:09] clarklab commented on #6
+1 for this idea. Currently it seems like all data needs to have the same types/fields, but it would be **hugely** useful to have some asymmetrical datasets.

[2015-07-03 13:27] z-vector commented on #5
Is this feature works?
I try use icon placeholder {{icon}}, but strange things happens.
Also if you try to use .svg for {icon} it crashes Sketch.

[2015-07-03 18:46] nitrada commented on #5
@z-vector could you specify "strange things"?

[2015-07-03 20:50] z-vector commented on #5
For example I have {image} layer + "{text1}" + "{text2}" + {{icon}} layers.
After populate, it fills different pics into {image} for a second and then saddenly fills all {images} whith only one pic for all {image} containers + fills all {{icon}} with the same pic.

[2015-07-04 14:39] nitrada commented on #5
Select all groups that contain the placeholders. for example, selecting the parent group or artboard would lead to populating the same dataset to all children.

Also make sure the groups you populate with images or icons are no symbols. otherwise, they will be synced, just like all other elements in symbols (apart from text, which can be excluded).

[2015-07-04 15:11] z-vector commented on #5
Yep, I'v done all like you said. But {{icon}} placeholder does not work at all. And strange behaviour for groups with {{icon}} like I describe before.
Also I try groups with only {{icon}}+{text} placehoders, but it is crash Sketch.

[2015-07-06 17:32] nitrada opened #12 ""Restore placeholders" command"
Populating a text layer stores the original content of the layer as meta data. This way, it's possible to "re-populate" easily.

It also means that once populated, a field now has its original content and placeholders forever. So entering new {placeholders} manually into the text layer doesn't work – it will always use the stored values.

a solution: a "Restore placeholders" command that inserts t

[2015-07-06 17:37] nitrada commented on #9
I read about people rather writing a helper app to get and play around with data from an API, but store it as local JSON and assets, ready for use for the plugin.

Best of both worlds: real-time access to an API, but the performance from local files.

[2015-07-06 17:47] nitrada opened #13 "handling empty fields (no data)"
Currently, if a {placeholder} doesn't get data from populating, it says "undefined".

Would be great if his could be configured – a string (or strings) that could be used instead of "undefined" (not sure how and which granularity).

But also, imagine having {price} and {oldprice}. Some data rows don't have "oldprice" though because there's no price change to communicate. In this case it would be g

[2015-07-06 17:55] taiarock commented on #9
+1!!!

[2015-07-08 14:00] lukas77me commented on #13
I think a reasonable solution could be to omit the placeholder if there is no value to populate it with unless a specific custom string is specified some syntax.

For example, {oldprice} could mean that if no value is present in the data, it would be omitted (replaced with empty string) but {oldprice ? n/a} would populate the placeholder with 'n/a' instead (string after the ?).

I'm not sure about

[2015-07-08 17:48] nitrada commented on #13
@lukas77me I think that's a great idea! It should still be possible to set a "default string" (to get rid of "undefined") somewhere (manifest?)

@rockitbaby what do you think about the syntax? any recommendation beyond the "?"?

[2015-07-08 20:39] #12 closed

[2015-07-08 20:44] nitrada commented on #13
also, if a image/icon field ist empty, why not turn off the fill? this way, it would be possible to place a bg behind the actual asset placeholder that becomes visible once there's no actual data.

when re-populating, fille image/icon fields should turn the fill on again.

example: https://www.dropbox.com/s/yzjcbvdy7mvs8b3/image-placeholders.sketch.zip?dl=0

[2015-07-09 09:20] nitrada commented on #13
our heavy usage of the plugin has shown that we always need to try to keep our {placeholders} as short as possible. For example, {first_name} {last_name} is too long – if you populate it with hundreds of names, the placeholders will still most often be longer than the actual data. We'd rather go for {firstname} {lastname} or even {firstn} {lastn}.

So adding "? No First Name", leading to {firstn ?

[2015-07-09 10:16] rockitbaby commented on #13
The default behavior without any configuration should be an empty string.
"By default a variable "miss" returns an empty string." as in https://mustache.github.io/mustache.5.html

Regarding the Inline Defaults:

`{placeholder ? No data available} `
is missleading as it looks similar to javascript's conditional shorthand.

`{placeholder!No data available}`
also not that meaningful and confusing wit

[2015-07-09 12:21] lukas77me commented on #13
Personally I would go for the ```{company_name || self-employed}``` as @rockitbaby suggested but without the ```' '``` around the string since you could have ```'``` in the string itself and then we'd need to escape it, etc. I suppose it's very unlikely that you'd have ```||``` in the string. What you do think?

[2015-07-13 11:43] tdemooij opened #14 "'Populate again' switches to another page"
When I use 'Populate Again' in a document with multiple pages, the view switches to the last page. It should just stay on the current page. See the behaviour in this [screencast](https://www.dropbox.com/sc/utthr4hjw6b7ytc/AABBWWHebkjGGR32pOJng1gra).

[2015-07-13 13:24] lukas77me commented on #14
This issue should be now be fixed in the 'development' branch. Please check it out.

[2015-07-14 06:10] tdemooij commented on #14
Works great now, thanks!

[2015-07-14 06:10] #14 closed

[2015-07-14 06:27] tdemooij commented on #9
[This sketch-json-parser](https://github.com/kvendrik/sketch-json-parser) got it working with image url's. Unfortunately only as a bitmap, not at as a background fill.

[2015-07-14 13:53] nitrada commented on #13
@lukas77me could also be
`{company_name || self-employed}` (no spaces)?

[2015-07-14 14:09] nitrada commented on #9
@tdemooij is it fast enough (given hundreds of images)?

[2015-07-14 15:43] rorysmyth opened #15 "Multiple text styles get overridden on replace"
screenshot

![image](https://cloud.githubusercontent.com/assets/1512382/8677520/7ba49204-2a47-11e5-9205-fd98a998fa30.png)

^ message if a different font weight from name

[2015-07-14 16:32] tdemooij commented on #9
@nitrada I don't know about hundreds. But I did a quick test with the recipes json from @clarklab. Have a look at the [screencast](https://dl.dropboxusercontent.com/u/5119421/screen_json.mov).

Its pretty quick. There are only 11 images, but they're around 500kb each.

[2015-07-15 06:58] mvdandrieux opened #16 "Broken copy&paste"
Fantastic app ! Just a note: The plugin seems to remember the blocks where a json variable was input and replaced. This prevents copying of any text block which contained a variable at some point of his history, even if you fill it up with a new variable. Lots of unatural manipulation needed to handle these blocks.

[2015-07-15 18:02] nitrada commented on #16
Yes, the plugin persists the original string with its {placeholders} in the text layer. We do this to be able to populate again without the need to manually set new placeholders. Like that, you can for example shuffle through dozens of data.

To get rid of it, use the "Restore Placeholders" command. This will remove it from the text layer and write back the original string into the layer. From her

[2015-07-15 18:06] nitrada commented on #15
@rorysmyth yeah, that's the case unfortunately and we haven't found a way around it. I fear it has to do with a limitation on the Sketch side and we cannot really solve it for the plugin.

Any comment on this from @lukas77me or @bomberstudios?

[2015-07-15 19:07] lukas77me commented on #15
So far, I haven't found any way to extract the font/text style from a substring inside a text layer. It'd be great if @bomberstudios could point us in the right direction.

[2015-07-16 08:29] mvdandrieux commented on #16
@nitrada YES. Fantastic new feature. Just downloaded the last build and it worked seamlessly. Thank you for the great piece of loveware.

[2015-07-16 08:29] #16 closed

[2015-07-16 09:33] Booozz opened #17 "Multiple Array ID's in JSON not working"
Hey,
i'm trying out Sketch Data Populator, and struggled with the integration of different data sets inside the JSON file. It might be that i am doing sth wrong, so maybe you guys can help me. I attached the key screenshots from my setup:

![json](https://cloud.githubusercontent.com/assets/13080099/8719702/ee040264-2bad-11e5-8185-8f7c8bd1565d.png)
![layer](https://cloud.githubusercontent.com/asset

[2015-07-16 13:29] maxfell commented on #17
Did you try selecting all `partner.title` elements instead of just one?

[2015-07-16 13:57] nitrada commented on #17
@Booozz this should work! Like @maxfell said, select all elements and run the command. Let us know if this doesn't work.

[2015-07-16 14:16] Booozz commented on #17
Thank you guys, this is working. I selected before global layergroups like "site", "content" or the whole artboard itself only and then the plugin inserted just one data set. Now is cool! <2

[2015-07-16 14:16] #17 closed

[2015-07-21 13:21] dinko opened #21 "Error with commas in margins"
This plugin is awesome, for starters. ;)

I'm on a Mac with German localization and therefore, the decimal separator is a comma and not a point. The grid options in certain situations come up with `0,0` by default, which causes an error if not corrected to `0` or `0.0` manually.

Maybe you can do some sort of parsing on the input, that would be great!

By the way…Sketch has the same problem, for i

[2015-07-22 08:37] nitrada commented on #15
@lukas77me maybe this could hint to a solution? https://medium.com/sketch-app-sources/sketch-plugin-snippets-for-plugin-developers-e9e1d2ab6827 (scroll down to "Working with Text Layers")?

[2015-07-22 19:46] nitrada commented on #13
now possible since https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.1.0

[2015-07-22 19:46] #13 closed

[2015-07-23 07:19] lukas77me commented on #15
The article points out a great way to set the style to a range so I'll see if I can get it to detect the initial style ranges too. Then it'll be possible to reapply the original style.

[2015-07-26 09:53] knowsnotmuch commented on #15
Came to log this request as well - glad to see its already being deliberated. Thanks for the wonderful plugin anyway!

[2015-07-27 19:02] nitrada commented on #21
@dinko fixed with https://github.com/preciousforever/sketch-data-populator/commit/5f9dd947fe56bb92f384d0f8750adf3493c5115d

[2015-07-28 05:34] nitrada commented on #21
@dinko it's in the "development" branch. could you check it out and let us know if this fix works for you?

[2015-07-28 05:42] dinko commented on #21
Sure, will try!

[2015-07-28 11:28] dinko commented on #21
The fix works, thx!

[2015-07-28 11:28] #21 closed

[2015-07-28 11:36] dinko opened #22 "Open last active folder"
When using "Populate with JSON" it would be helpful if the last active folder is opened and not the user's home folder.

I understand a folder must be authorized. But when you work on a project and have a specific json file located somewhere, it's quite tedious to always navigate to that specific folder, even if I may have placed it in the sidebar navigation or even though I can find it in the las

[2015-07-28 15:02] nitrada commented on #21
@lukas77me can you merge?

[2015-07-28 15:03] nitrada commented on #22
@lukas77me didn't we fix this for "Place image/SVG"?

[2015-07-28 15:09] lukas77me commented on #22
Yes, for place image/svg it remembers the last folder. We can definitely
add it for selecting JSON too.
On 28 Jul 2015 16:03, "Christophe Stoll" <notifications@github.com> wrote:

[2015-07-28 15:17] dinko commented on #22
Thx!

[2015-07-28 15:44] lukas77me commented on #21
Done

[2015-07-28 15:59] nitrada commented on #22
That would be useful!

[2015-07-30 20:35] nitrada commented on #22
fixed with https://github.com/preciousforever/sketch-data-populator/commit/45f9adceaedf65a2ad37aad041c5e6023095c918

[2015-07-30 20:35] #22 closed

[2015-07-31 05:32] dinko commented on #22
Excellent!

[2015-08-04 00:14] justinlwz opened #23 "Sketch 3.4 Beta bug when populating from JSON/Preset"

[2015-08-04 12:49] lasseklein commented on #9
+1

[2015-08-04 18:24] nitrada commented on #9
We decided to keep it a locally operating kick ass plugin for now ;-)

we'll rather investigate in tools to gather/model data from different sources more easily.

[2015-08-05 06:43] nitrada commented on #23
@lukas77me I have not tested with 3.4 beta yet. Did you?

[2015-08-05 07:16] kmerc opened #24 "Map specific items in data to specific content variables"
It would be great if we could map items in data to specific content variables? eg {firstname-0} = data[0].firstname

Use case:
Multiple modules (repeated elements) that are disconnected, across multiple artboards, or nested within different symbols but which share common data.

Thanks,

[2015-08-05 07:45] lukas77me commented on #23
I just did some testing in 3.4 and it seems to be an issue with how the labels (on the alert) are created. I'll look into it.

[2015-08-05 09:07] tdemooij commented on #9
I found out that's really easy to make a local copy of a JSON with Automator. This speeds up my workflow and makes a nice addition to this plugin. It would be even better if it would make a local copy of all the images in the JSON. It shouldn't be too hard to write some applescript for this, but my coding skills are pretty limited.

This is how my Automator workflow looks like:
![screen shot 2015-

[2015-08-08 06:23] lukas77me commented on #23
The only solution that works in 3.4 beta I have found is to make the bold labels/titles on the UI regular thickness. The issue seems to be with setting the font for the labels (even just creating an instance of NSFont crashes which is very odd).

[2015-08-17 15:20] dantz commented on #15
I'm new to the data populator and I tripped over this problem as well. Thanks for working on it.

[2015-08-17 16:29] theoBLT commented on #6
+1 for this idea too, multiple object level support would be awesome and make this plugin really cool.

[2015-08-19 21:03] waltercoots opened #26 "Old Data Being Cached on a Per-Layer Basis?"
It may be tricky to explain what's happening, but I'll try:

I created a JSON file from scratch, and ran it through jsonlint.com to validate it. I created the element in Sketch I wanted to populate, and ran the data file through Sketch Data Populator. The first time, it operated fine. But after some tweaking, I wanted to change some of the data - (specifically, shorten the names of some of the pro

[2015-08-20 07:31] lukas77me commented on #26
That's a great explanation! It may seem really strange but as far as I understand, what you are describing is the intended behaviour. Let me explain:

The reason this is happening is because Sketch Data Populator stores the original string in the text layer, e.g. "Pencils, {var1}, and pens" to the layer's metadata when you populate it. This is in order to be able to re-populate the text layer with

[2015-08-26 21:57] clarklab commented on #23
Seems like this is still happening. Sketch 3.4 crashes any time I try to populate from JSON (while smaller functions like Place Image work just fine)

[2015-08-30 10:50] nitrada commented on #26
hey @waltercoots, did @lukas77me explanation help you?

[2015-08-30 10:51] nitrada commented on #24
hey @kmerc, does this new release help you? https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.2.1

[2015-08-30 10:52] #9 closed

[2015-08-30 10:53] nitrada commented on #23
@clarklab it seems to work with commands that are not using the plugin UI (see @lukas77me's explanation). we're still investigating, since this bug seems pretty odd.

[2015-08-30 19:44] waltercoots commented on #26
It did, thanks! And sorry for the belated reply. I suppose it's ultimately a question of whether or not the average user would expect the metadata / original placeholders to be removed once they edited the text manually. That's sort-of what I was anticipating. But now that I have a grasp on how it works, I've been using it with no problems. And the ability to restore the placeholders is so great!

[2015-08-30 20:00] #26 closed

[2015-09-01 14:10] nitrada commented on #23
@justinlwz @clarklab can you try the latest version of the plugin and let us know if the fix works for you guys?

[2015-09-01 23:45] justinlwz commented on #23
yup. it worked fine. thanks so much :)

[2015-09-03 13:12] #23 closed

[2015-09-30 15:15] alexcolbeck opened #30 "Ability to interpret nested data"
Will there be an enhancement which enables Sketch to read nested data? Currently it ignores anything that is nested. For example:

[code]

Thanks!

[2015-09-30 15:24] alexcolbeck opened #31 "Link images using URL"
Can you link images with URL? i cant seem to get it working.

[2015-09-30 18:07] nitrada commented on #31
No, it's not possible and not planned. We prefer to keep all data and assets local for performance reasons.

[2015-10-01 05:27] nitrada commented on #30
nested data should be possible since v1.2.1, do you have the latest version of the plugin? https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.2.1

[2015-10-01 11:41] alex-colbeck commented on #31
This plugin does it....
https://github.com/florianpnn/sketch-data-parser

[2015-10-01 18:53] nitrada commented on #31
we often use the plugin to populate huge amounts of elements, which can be quite slow already with local images. That's why we're not looking into adding the feature.

In case you want to give it a try, feel free to add and send a pull request :)

[2015-10-01 19:00] alex-colbeck commented on #31
I'll give it a go....if I can work it out ;)

[2015-10-02 07:59] alex-colbeck commented on #31
Also if you populate it with huge amounts of elements....have you found a way of adding in loads of local image url's?

only way i can think of doing it is manually....any expert tricks?!

[2015-10-02 23:37] fortress opened #32 "Error parsing data"
I've seen an error that reads, "There was an error parsing data. Please make sure it's valid."

Just wondering if you could help me understand what's triggering the error and how to fix it.

I've validated the JSON and it works with the plugin until it doesn't. Sometimes a new text box or a new document fixes the issue. The template I have is large so that's not ideal.

Help?

[2015-10-11 12:15] sdnyco opened #34 "Parsing Arrays containing Objects"
Am I doing something wrong or is it currently not possible to parse arrays containing objects?

**See example below:**

[code]

[2015-10-15 05:16] nitrada commented on #31
have you tried https://import.io/?

[2015-10-15 05:16] #31 closed

[2015-10-15 05:18] nitrada commented on #31
now possible https://github.com/preciousforever/sketch-data-populator/pull/33

[2015-10-15 06:41] nitrada commented on #34
this should be possible since https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.2.1— shouldn't it, @lukas77me?

[2015-10-15 06:43] nitrada commented on #32
@fortress can you share your sketch and json files with us and let us know which version of sketch and which version of the plugin you're using?

[2015-10-15 06:43] nitrada commented on #30
have you figured this out, @alexcolbeck?

[2015-10-15 06:45] nitrada commented on #24
@kmerc have you figured this out? does the current version of the plugin work for you?

related:
https://github.com/preciousforever/sketch-data-populator/issues/30
https://github.com/preciousforever/sketch-data-populator/issues/34

[2015-10-15 07:42] alexcolbeck commented on #30
I only just realised there is a newer release with this capability in!

Is it possible to create a new release which includes this and the image url link??

[2015-10-15 08:17] alexcolbeck commented on #30
Hi - managed to get it working thanks (didnt find the syntax anywhere :+1: )

Thanks again - amazing plugin

[2015-10-15 16:24] nitrada commented on #30
yeah, the syntax was only in the release note, not in the readme. will update.

[2015-10-15 16:24] #30 closed

[2015-10-30 19:12] epan opened #36 "Unintended layer text is changing"
**What happened**

When I populated a Sketch file with JSON, it is mysteriously also changes other text layers' content even though they are not variables.

The unintended text layers changed are being changed to text that it was before but written over and saved in Sketch.

**What is expected**

The layers with variables will change and the layers without variables will not change.

**Steps to re

[2015-11-03 05:52] nitrada commented on #36
@epan thanks for reporting this, very strange and never happened to us. Which version of sketch did you use? Also, did you try to take elements to populate to another sketch document and see what happens there?

[2015-11-23 22:46] imvunoah opened #37 "Crashes Sketch when dialogue opens"
When I run the plugin, Sketch crashes as soon at the file chooser dialogue opens.

Running Sketch 3.4.2. Purchased from App Store, but running manually downloaded copy.

Video of crash:
https://dl.dropboxusercontent.com/u/103385876/sketch-json-crash.mp4

[2015-11-24 06:01] nitrada commented on #37
It looks like there's a problem with your data. Could you share your JSON file?

Before that: is the content of your "My API" file valid JSON? It should be an array on the root level. Also, please try to call your file "something.json".

[2015-11-24 06:03] nipponese commented on #37
@nitrada http://www.exampleapi.com/json

[2015-11-24 06:06] imvunoah commented on #37
@nitrada I saved the output from this to a file: http://www.exampleapi.com/json

[2015-11-24 07:23] nitrada commented on #37
@imvunoah

I just checked the output and as expected, the JSON was missing an array on the root level: the ```[]``` brackets (check out [this JSON primer](https://adobe.github.io/Spry/articles/json_primer/json_primer.html) for more detailed info). Also, please use **.json** at the end of your file.

here's your example data with the root array added:

[code]
This if how it would look like if there

[2015-11-24 07:28] nitrada commented on #34
@sdnyco I was wrong actually – at the time I replied it was possible to use nested data via dot path, but it's only since [v1.3.0](https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.3.0) that nested arrays do work. can you give it a go with the recent version of the plugin and let us know if it worked?

[2015-11-24 07:30] #24 closed

[2015-11-24 07:32] nitrada commented on #6
@VinSpee @fculshaw @clarklab @theoBLT
Since [v1.3.0](https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.3.0), this is fully supported, including nested arrays. Please let us know if you run into issues.

[2015-11-24 07:32] #6 closed

[2015-11-24 08:06] imvunoah commented on #37
@nitrada What is the reason for the root array? I've never seen valid JSON enclosed in an array like that, and even in your examples it seems redundant since there is only one element which stores every object.

[2015-11-24 08:55] nitrada commented on #37
Which example do you mean?

Our JSON data usually consist of dozens or hundreds of objects and we preferred to put them in an array on the root level.

We could consider making it work without an array if there's only one object – or even if there's a list of objects. It's a matter of taste probably. What do you think, @lukas77me?

[2015-11-24 09:00] lukas77me commented on #37
I agree that it'll make it more intuitive if you only have a single object
in the JSON. I can take a look at this.
On 24 Nov 2015 8:55 am, "Christophe Stoll" <notifications@github.com> wrote:

[2015-11-24 09:01] nitrada commented on #37
@imvunoah apart from that, does adding the array fix it for you for now?

[2015-11-24 16:00] imvunoah commented on #37
Guys, just loaded up the original json file (without the single-element array) and it works great. Thank you!

[2015-11-24 16:00] #37 closed

[2015-11-25 16:44] daniloq opened #39 "Populate with JSON only uses text from 2nd data set"
I have the json file below filled with different assets and text. When I use populate with JSON and say I need 1 column and 2 rows, I get two layer groups with two different avatars, but each layer group uses the same placeholder text from ID 2 only.

[
  {
    "id": 1,
    "avatar" : "URL1",
    "name": "NAME1",
    "location": "LOCATION1"
  },
  {
    "id": 2,
    "avatar" : "URL2",
    "name":

[2015-11-25 19:38] nitrada commented on #39
@daniloq is the JSON you pasted here exactly the one you used? there's a closing curly bracket (}) missing in the second object (id 2). Maybe that's the problem?

[2015-11-25 19:58] daniloq commented on #39
@nitrada Oops. Sorry for the typo. Here's what I'm using.

[{
  "name": "Pete Wrigley",
  "image": "http://www.radfaces.com/images/avatars/little-pete-wrigley.png",
  "location": "Wellsville, NY"
}, {
  "name": "Aeon Flux",
  "image": "http://www.radfaces.com/images/avatars/aeon-flux.png",
  "location": "Nation of Monica"
}, {
  "name": "Alan Frog",
  "image": "http://www.radfaces.com/images/avata

[2015-11-25 21:13] nitrada commented on #39
@daniloq I just tried with you data and it worked fine. btw, the populating is much faster if your images are locally stored in a subfolder…

do you have your sketch layers containing "{name}", "{image}" and {location} in a layer group each, all on the same level?

[2015-11-27 16:23] #39 closed

[2015-11-27 17:34] daniloq commented on #39
Thanks @nitrada.

[2015-12-03 06:46] #34 closed

[2015-12-07 07:52] leffi7 opened #40 "populate symbols with different images"
Hi,

When sketching a blog archive page, I create a symbol for a blogpost. A blogpost generally contains a title, excerpt/description and an image.

I know it is possible in Sketch to 'exclude text value from symbol'. This way every post gets its own title. But is there also a way to exclude an image? I'm not sure if this is a feature missing in Sketch or a feature request for the plugin.

Do you

[2015-12-07 16:46] nitrada commented on #40
That's a sketch feature request :)

[2015-12-07 18:29] leffi7 commented on #40
Hehe... What I thought :)

Any ideas on a workaround?

Anyway, will keep using your plugin cause it is great! Nice work! Thx!

Verstuurd vanaf mijn iPhone

[2015-12-07 19:25] nitrada commented on #40
@leffi7 the only workaround is not using a symbol ;-) have you tried using styles instead of a symbol, or a different nesting?

[2015-12-08 06:49] leffi7 commented on #40
OK :)

I guess there is no other option than using 'normal' groups.

thx for your feedback!

2015-12-07 20:25 GMT+01:00 Christophe Stoll <notifications@github.com>:

[2015-12-08 19:30] #40 closed

[2015-12-11 13:48] leffi7 opened #41 "creating grid with complex/nested JSON"
Hi,

I need some help :)
Is there a way to add a 'need help' label to my issue? Couldn't find it...

I used a pretty complex JSON to populate a text in sketch. I successfully retrieved the title by naming the text layer: {sectionPage.primaryTeaserList[1].articleList[0].title}

Now I want to create a grid with the JSON populator. The grid should contain all titles from the 'articleList object'. So

[2015-12-12 17:59] nitrada commented on #41
hey @leffi7, that's not possible with Sketch Data Poplator's internal grid tool at the moment, since placeholders containing arrays need to be manually set up. what you could do is create the grid with Sketch's grid tool, then rename the text layers manually, then populate.

that's actually something we're currently thinking about: make it Data Populator more data-driven.

right now, the paradigm

[2015-12-15 03:41] leffi7 commented on #41
Thank you Christophe!

Cool you guys continue to improve your product and keep thinking about solutions.

A data-populator in Sketch has so much potential and is in my opinion one of the most important plugins to work with.

Keep up the good work. Looking forward to see more improvements and features in the future...

Lef

Verstuurd vanaf mijn iPhone

[2015-12-18 16:21] iansoper opened #42 "Iterating over a group"
I was thinking if you took a layer group and allowed iterating inside of the group like a handlebars template would do:

[code]

The layer group could be named `{dataObject}` and the text layer would be `{name}` that way you could iterate over an array of objects and then populate the data inside it. Does that make sense?

[2016-01-19 15:13] gunkdesign opened #44 "Writing out items in reverse order"
Hi there,

I am using the populator to write out a list of sports in a text variable {sport}, these layers sit in a group that I have duplicated 27 times as there is other items in the group.

When I run the populator two things happen.
1. The items write out in reverse order
2. At the end of the loop it jumps to the next page in sketch (have to go back in the navigator)
[data-populator issue.zip]

[2016-01-20 14:03] alex-colbeck opened #45 "Not recognising nested data"
For some reason it no longer allows me to use nested JSON.

For example:

    "categories": [
      {
        "id": 8,
        "name": "News",
      }
    ],

It would normally allow me to just use {categories.name}

[2016-01-21 07:18] nitrada commented on #45
@alex-colbeck this is how you address arrays properly:
https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.3.0

{categories.name} would work if you'd have nested objects, not an array within an object. am I right @rockitbaby?

does this solve it for you, @alex-colbeck?

[2016-01-21 07:40] rockitbaby commented on #45
`{categories[0].name}` should work

[2016-01-21 11:38] alex-colbeck commented on #45
Ace!!!

Thanks very much

[2016-01-21 11:38] #45 closed

[2016-01-23 12:15] deepesh55 opened #46 "Images/image url issue"
The textual contents are getting placed perfectly well, but the images remain the same. You can see if below that I have specified a different picture for each section but still in the end when I run the script in Sketch, it brings out only one of those images and on every "Populate again" command it just brings another picture but the same for everything.

I just started using this plugin so is t

[2016-01-23 18:43] nitrada commented on #46
@deepesh55 can you send your sketch file to feedback@datapopulator.com?

[2016-01-26 20:10] dantz opened #47 "Make Grid and Sketch 3.5"
I can fill a single row but as soon as I try to make a grid placeholders aren't replaced anymore.

[2016-01-26 21:52] nitrada commented on #47
we're investigating.

[2016-01-26 21:54] dantz commented on #47
But you can reproduce it? After downgrading to 3.4.4 it works again. Unfortunately my document does not :)

[2016-01-27 19:00] bdenham opened #48 "Images/Icons also not populating in Sketch 3.5.1"
In addition to the Make Grid issue, the {image} and {{icon}} placeholders are also not working. You can see the behavior from the demo.sketch file. I'm sure you guys noticed this as well (hard to miss). But I wanted to mention it as another breaking change with Sketch 3.5.1.

[2016-01-28 09:38] lukasondrej commented on #47
Please try the version in the `sketch-3.5-support` branch with Sketch 3.5. It should hopefully work as expected.

[2016-01-28 09:40] lukasondrej commented on #48
Thanks for reporting this. Please try the version in the `sketch-3.5-support` branch which addresses these issues. It'd be much appreciated if you could let us know if it works for you.

[2016-01-28 13:44] denswor commented on #48
Hi guys, `sketch-3.5-support` works fine in sketch 3.5.1

Thanks!

[2016-01-28 14:03] bdenham commented on #47
Awesome, guys! I just confirmed that it does indeed work as expected. Many thanks!

[2016-01-28 14:04] bdenham commented on #48
Confirmed. All is working well again. Thanks for responding and fixing so quickly!

[2016-01-31 12:36] #47 closed

[2016-01-31 12:36] #48 closed

[2016-01-31 12:37] nitrada commented on #42
@rockitbaby @lukasondrej  thoughts?

[2016-01-31 12:38] #41 closed

[2016-02-08 14:49] alex-colbeck commented on #46
Images aren't loading for me either. They worked perfectly before the 3.5.1 update and now dont fill.

I am using image url for achieve this.

I have updated to the latest release - any idea why this is happening?

[2016-02-08 19:08] nitrada commented on #46
@alex-colbeck can you share an excerpt of your JSON?

[2016-02-09 10:53] alex-colbeck commented on #46
[
  {
    "facebookAuthor": "https://www.facebook.com/facebook-author",
    "id": "4156465464644-id-here",
    "title": "Title here",
    "image": "http://image-url-here.png"
  },
  {
    "facebookAuthor": "https://www.facebook.com/facebook-author",
    "id": "4156465464644-id-here",
    "title": "Title here",
    "image": "http://image-url-here.png"
  },
  {
    "facebookAuthor": "https://www.fac

[2016-02-11 11:11] alex-colbeck commented on #46
Any updates on this @nitrada  ?

[2016-02-11 11:25] lukasondrej commented on #46
@alex-colbeck I've just fixed an issue with images when using urls. Please give it a go and let us know if it works for you. Thanks

[2016-02-11 11:32] alex-colbeck commented on #46
Thanks @lukasondrej  - Can you send me a link to this release/zip?

[2016-02-12 09:41] MDBas opened #49 "Request: Nested arrays"
Thanks for this great plugin!
Is it possible to use nested arrays, for example:
`
[{
    "name": {
        "firstname": "Jack",
        "lastname": "Black"
    }
}]
`

[2016-02-12 22:51] rockitbaby commented on #49
use dot notation to access properties of nested objects. like so `name.firstname`

[2016-02-15 16:04] MDBas commented on #49
Thanks!

[2016-02-15 16:04] #49 closed

[2016-02-17 14:41] nitrada commented on #46
is the issue fixed for you as well, @deepesh55?

[2016-03-09 16:49] bgohsman opened #50 "Sketch Crash on Populate With JSON when using SVG"
It took me a few minutes to track down, but I am running into an issue where, if I use the SVG version of an icon, Sketch will crash upon clicking the "Populate" button. However, if I use a PNG version of the same icon, everything goes swimmingly.

The SVG in question was originally generated by Sketch. I also attempted re-saving it from Illustrator as an SVG. And, then, exporting it from Illustra

[2016-03-09 17:37] bgohsman commented on #50
I believe I have figured out what I am doing wrong. Looking at only one demo, I assumed that SVGs were treated the same as any other image type and, as such, would use the same placeholder. However, looking through the code for populate(), I found that it looks for specific iconPlaceholders with the pattern {{*}}. Which tells me that I probably need double curly brackets on my placeholders for SVG

[2016-03-09 18:13] bgohsman commented on #50
Using the example from _demo.sketch_ [the icon on a ListItem in the "contacts" example] definitely behaved differently, but Sketch still crashed. I could see the rows get generated. I could see the icon placeholders but the actual SVG icon did not load into them. The view appeared to zoom out, almost as if I'd hit Command + 1. And then Sketch crashed. For the moment, I'm just going to use PNG vers

[2016-03-10 22:28] nitrada commented on #50
Yeah, it's double brackets. But also, the SVG stuff is a bit shaky, since loading external SVGs is more complex than loading an image.

[2016-03-11 14:36] bgohsman commented on #50
That makes sense. For our purposes, it's working great just using PNG files. Then we export icons as SVG for the dev team. This has already saved hours as design iteration progresses. Being able to update a single object and then re-populate a layout [in my case, a table full of rows of data] has been a very good thing.

[2016-03-25 08:28] #50 closed

[2016-03-31 17:33] hungrysquirrel opened #51 "Creating data visualizations in Sketch"
<img width="680" alt="visualizing_data" src="https://cloud.githubusercontent.com/assets/232397/14184841/056b12d6-f72c-11e5-81e2-5727a181b1a8.png">

I’ve used https://github.com/preciousforever/sketch-data-populator for Sketch and run into a blocker for me. I am parsing SVG graphics to points on the artboard and I was hoping to pass in a radius or W x H (in JSON) to the containers on the artboard t

[2016-03-31 17:37] sweeting opened #52 "Data population of overrides in symbols (new in Sketch 3.7)"
With the introduction of symbol overrides in Sketch 3.7 (currently in beta), it would be great to be able to populate overrides with JSON data.

Sketch 3.7 symbol overrides in action: https://twitter.com/tmgrhm/status/714864050493005824

[2016-03-31 17:39] rhythmspice commented on #51
I second this request! I just want to be able to control a list of bar charts (rectangle objects) by passing in the widths from JSON values.

[2016-04-02 20:01] nitrada commented on #52
We're investigating.

[2016-04-10 00:02] r-ss-ll opened #53 "Symbols not working with images"
I have my symbol on my Symbols page with placeholder text and image, then when I populate symbols on my page I'm designing on with JSON the text is populated, but the image remains as a grey box.

[2016-04-10 05:52] lukasondrej commented on #53
Thanks for letting us know - this issue was caused by shape layers with image fill not getting populated. It should now be fixed, please check the latest commit in the new-symbols-support branch.

[2016-04-10 14:30] r-ss-ll commented on #53
I'm still getting a bit of a bug. When I populate my symbols the image doesn't appear. I have to manually set the master symbol rectangle to have a background image set to fill. Then when I populate my symbols in my design page the fill image in the symbol is replaced with the json data. I really appreciate your work on this.

[2016-04-11 14:10] russgoodman opened #54 "Different type treatment with substitute"
If a symbol has two fields in one text box, the type is styled differently if a substitute is used. With a substitute is the prefered styling. Without, the second word of the first field uses the second field's styling.

<img width="696" alt="screenshot 2016-04-11 10 07 39" src="https://cloud.githubusercontent.com/assets/5688128/14429887/4b3ff430-ffcd-11e5-9de5-7d68b4102e48.png">

[2016-04-12 07:53] nitrada commented on #54
Unfortunately, you cannot use several styles within one text layer with data populator.

[2016-04-13 12:38] nitrada commented on #53
wasn't this always the case, @lukasondrej? maybe there's a way to get rid of the need to set the background type to image as soon as we knock on a shape's door with an image in our pocket :)

[2016-04-13 20:10] r-ss-ll commented on #54
@nitrada But I have in the example above and it works. bottom left is a populated version of top left. If there is substitute content in the curly brackets it styles correctly. If there is not, it does not style correctly. It'd be great for both to work consistently like the version on the left.

[2016-04-13 20:25] nitrada commented on #54
ah it's with the new symbols – sorry, things have changed here :) we'll investigate.

[2016-04-14 13:01] lukasondrej commented on #53
@nitrada I think with the previous versions of Sketch, it was done automatically but doesn't seem to be with the new symbols. It should be possible to automatically set the background as image when there's an image available, I'll investigate that.

[2016-04-14 13:33] nitrada commented on #53
@lukasondrej great 👍

[2016-04-14 14:19] nitrada commented on #51
that's nothing we're going to implement in the near future, but feel free to contribute :-)

[2016-04-14 14:19] #51 closed

[2016-04-14 14:30] whosdustin opened #55 "Populate data with Yaml"
Just a bit of a feature request to have the ability to write in yaml to populate a sketch file.

[2016-04-14 14:35] nitrada commented on #54
can you elaborate a bit more please. i'm not sure if i get you 100%. maybe also show the error case (as the example on the right looks also correct although there's no substitute… or do i still get you wrong?

[2016-04-14 14:36] nitrada commented on #52
@sweeting we're still having several issues, but you can check this out: https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.6-beta.1

[2016-04-14 14:36] #52 closed

[2016-04-14 14:39] nitrada commented on #55
@whosdustin feel free to add the feature and send us a pull request :)

if you just prefer YAML to edit the data, you could – in the meantime – use some yaml-to-json converter before populating.

[2016-04-14 14:40] #46 closed

[2016-04-17 09:02] r-ss-ll commented on #54
The bottom left is the top left version once it has been populated. The word Goodman is in the same styling as Russ. The bottom right is the populated version of the top right. The word Mazza has not continued the styling of the word frank. Having substitute text in place is the difference. It seems that without substitute text only the first word of {name} gets the styling applied to the tag, and

[2016-04-18 12:22] F-DK opened #56 "v1.6-beta.1: Can't save file after feeding symbols with JSON…"
After creating a list of items in Sketch 3.7 (28169) from a (new 3.7 type) symbol by importing a (tested and error free) JSON file I cannot save the document. That makes Data Populator completely useless for symbols – which let's me stuck in Sketch 3.6.1 :/

Data Populator 1.6-beta.1 (with JSON import) only works with regular folders, not with symbols as far as I experienced it.
Unfortunately I ca

[2016-04-18 18:06] nitrada commented on #56
@lukasondrej can you reproduce this? it happened to me as well. Can send you the doc.

[2016-04-18 19:21] lukasondrej commented on #56
I've tried reproducing this but with no luck. The doc where this happens would be very useful.

[2016-04-18 21:34] F-DK commented on #56
Sorry but can't share the file b/c it's confidential.

[2016-04-19 05:22] nitrada commented on #56
I will share my doc later today.

[2016-04-19 05:22] nitrada commented on #56
I will share my doc later today.

[2016-04-19 15:02] nitrada commented on #56
@F-DK can you try the new version? https://github.com/preciousforever/sketch-data-populator/commit/6ef513309e51ff151cdb2b8945b7e495a7d089b7

[2016-04-19 19:31] r-ss-ll opened #57 "Incorrect image URL = Sketch fails and closes"
I accidentally had the wrong file path in my json. Upon populating with the incorrect image URL Sketch freezes up then closes leaving some temporary pages open in my doc.

[2016-04-19 21:20] nitrada commented on #57
@r-ss-ll you populated symbols (in sketch 3.7), right?

[2016-04-19 21:37] lukasondrej commented on #57
@r-ss-ll this should be fixed now, please check out the latest commit.

[2016-04-20 03:21] r-ss-ll commented on #57
@nitrada That was correct. Great work.

[2016-04-20 12:56] F-DK commented on #56
@nitrada Thanks, but I guess I'm not coder enough to make use of it without stumbeling upon some questions – since there no new beta release available yet…

Can I just download and replace the files after deleting the *.txt file extenision (in the download dialog)?

[2016-04-20 13:13] F-DK commented on #56
@nitrada Update: In the 1st test run it worked out fine.

[2016-04-21 06:50] #57 closed

[2016-04-21 06:54] nitrada opened #58 "v1.6-beta.2: Text Substitutes don't work as expected in symbols"
when using Text Placeholders a la ```{placeholder?}``` that should be substituted with the default substitute, Sketch 3.7.1 crashes when using the "missing-data" Preset that comes with the demo.

[2016-04-21 06:57] nitrada commented on #56
here's a new pre release:
https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.6-beta.2

I recommend you use this version in parallel by renaming a) the bundle file and b) the "name" field in "manifest.json" within the plugin bundle ("Show Content" on "Sketch Data Populator.sketchplugin" plugin bundle).

[2016-04-21 07:00] nitrada commented on #58
here's a test file – try populating the "item two" symbol with the "missing-data" preset that comes with the demo. re-populate until you run into an empty field.

[datapop new symbols.sketch.zip](https://github.com/preciousforever/sketch-data-populator/files/229333/datapop.new.symbols.sketch.zip)

[2016-04-21 07:01] nitrada commented on #54
@r-ss-ll on my machine, the substitutes don't work at all (see https://github.com/preciousforever/sketch-data-populator/issues/58), can you upload the file you showed in this issue so we can investigate?

[2016-04-21 12:27] F-DK commented on #56
@nitrada I didn't manage to run both plugins (current and beta.2) in parallel.

This is wat I did:

- Renamed the beta.2 bundle to "Sketch Data Populator Beta.sketchplugin"

- Added the new beta.2 bundle along with the current one

- Changed line 2 in –/Library/Application Support/com.bohemiancoding.sketch3/Plugins/Sketch Data Populator Beta.sketchplugin/Contents/Sketch/manifest.json to `"name": "

[2016-04-21 20:01] russgoodman opened #59 "Multiline text box"
How do I go about getting three or four lines of text in a box? I can't make the text box three or four lines tall so that it fills.

[2016-04-22 11:38] nitrada commented on #59
multiline text is not yet supported as it involves the rather complex topic of "flow layouting"…

[2016-04-22 12:10] lukasondrej commented on #58
@nitrada in my testing, substitutes worked without any issues however I've found another issue with missing/invalid image URLs when populating symbols. This could be the cause of the crashes - fixed in the latest commit.

[2016-04-22 13:36] nitrada commented on #58
@lukasondrej will check.

[2016-04-22 14:42] nitrada commented on #58
@lukasondrej seems to work now. the text formating behavior is a bit strange still, will go into detail sometime later. https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.6-beta.3

[2016-04-22 14:42] #58 closed

[2016-04-22 14:43] nitrada commented on #56
@F-DK https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.6-beta.3

[2016-04-22 18:49] F-DK commented on #56
@nitrada Thank you! 1st test run worked fine 👍

[2016-04-27 04:10] RYOHOI commented on #42
Yeah, that would be nice.

<img width="236" alt="screen shot 2016-04-27 at 12 08 35" src="https://cloud.githubusercontent.com/assets/5955526/14841507/ea647392-0c70-11e6-9779-8d8b788bfb2f.png">

What I'm just thinking about is like this. (Sorry about the Chinese)

[2016-05-10 08:08] #56 closed

[2016-05-12 18:34] mrkevanlin opened #60 "Multiple Images and multiple icons"
Sketch crashes whenever I try to populate my field group with more than one image and with more than one svg. I have a product image, an image of ratings, and two svg's for two badges. Is there support or help for this? Thanks!

[2016-05-14 09:06] nitrada commented on #60
Can you send JSON and sketch file to feedback@datapopulator.com?

[2016-05-14 13:44] mrkevanlin commented on #60
Due to the sensitive nature of my work I can't actually upload these assets.

[2016-05-14 14:36] nitrada commented on #60
@mrkevanlin understandable. can you try populating a) without SVG (that feature is shaky) and b) just one SVG per group?

[2016-05-14 16:12] mrkevanlin commented on #60
Just to make sure that I could get up and running with this plugin I was only working with two sets of data in my JSON file. In my sketch file, I indicated to duplicate 2 rows of data.

Tried to populate with SVG on both sets (duplicate twice) - crash.
Tried to populate without SVG on both sets - worked!
Did some testing, and made my product image and one of the badges both jpgs - crashed. When I

[2016-05-21 11:53] #53 closed

[2016-05-21 11:54] #32 closed

[2016-05-21 11:54] #15 closed

[2016-05-21 12:01] #36 closed

[2016-05-21 12:02] nitrada commented on #44
@gunkdesign does it work with the latest version of the plugin? https://github.com/preciousforever/sketch-data-populator/releases/tag/v1.7.0

[2016-06-02 10:29] joshhillier opened #62 "Image URL not populating."
Example JSON
[code]

It seems that it's not populating,
<img width="1504" alt="screen shot 2016-06-02 at 11 22 28" src="https://cloud.githubusercontent.com/assets/6906867/15742156/2565f6a4-28b5-11e6-99b3-d1a4bea8ede2.png">

Any ideas? Sketch version is Version 3.8.3 (29802)

[2016-06-04 02:29] amilajack commented on #62
I think that the plugin can't populate data from remote sources. The example shows accessing a local assets directory.

[2016-06-04 07:08] amilajack commented on #62
preciousforever/sketch-data-populator/issues/31

[2016-06-06 11:29] joshhillier commented on #62
Correct me if I'm wrong, but I believe this features is possible...

https://github.com/preciousforever/sketch-data-populator/pull/33

[2016-06-06 17:48] amilajack commented on #62
Apparently it is (or was). But last week I was using this plugin to populate remote images and it didn't work for me.

[2016-06-19 09:57] nitrada commented on #62
Can you check this @lukasondrej?

[2016-06-19 20:38] lukasondrej commented on #62
Populating image placeholders with URLs should work as expected now. It'd be great if you could give it a go using the latest commit and let us know if it works for you.

[2016-06-20 12:39] joshhillier commented on #62
I have just tested this with two different types of data, it seems to be working perfectly!

[2016-06-29 01:06] acleave opened #63 "Can't use Symbol Overrides as placeholders"
When trying to create re-usable symbols, the nested text layers values don't match the JSON fields. I'd assume you could place the placeholder variable name (that matches the JSON) into the Symbol override, but that doesn't seem to work. It actually replaces the override with the string value of the text layer, which overwrites the placeholder.

I've attached an example. Thanks.

[Archive.zip](htt

[2016-07-04 16:00] citation-nm opened #64 "Can't get data table to populate"
Hi there,

I'm having difficulty getting a 'data table' I've constructed in Sketch to populate with a corresponding JSON file, I have attached both for investigation.

Could someone have a look and see if what I'm trying to do is even possible?

Many thanks,

Neil
[company-contacts.zip](https://github.com/preciousforever/sketch-data-populator/files/346588/company-contacts.zip)

[2016-07-05 06:30] #62 closed

[2016-07-05 21:13] e-thompson commented on #64
Im having the same issue

[2016-07-06 07:22] citation-nm commented on #64
Good to know it's not just me :)

[2016-07-06 16:47] e-thompson commented on #64
I did get this to work btw. I have found that you need to select the Artboard/Layers you want to populate. Also, the text inside the text box must be the proper {tag} and not just paragraph text, meaning this won't work on text boxes that already have text inside the text box. Good luck.

[2016-07-07 07:49] citation-nm commented on #64
Thanks for the update - one thing I think I need to check is whether it plays nicely with text layers that have a size specified. I'll report back once I've done some further investigations.

[2016-07-12 07:57] e-thompson commented on #64
Didn't wanna leave you hanging here, but Craft from Invision does all this with ease. I was bummed I didn't find that out till WAY after I was done with my project.

[2016-08-17 15:18] BernsteinA opened #65 "Numbers in json not working"
Unless I wrap them in quotation marks

[2016-08-17 15:37] rorysmyth opened #66 "Trimming text not working"
This is a great feature that stopped working. Are there any plans to fix this? Using sketch 39.1

[2016-08-17 15:53] nitrada commented on #66
@rorysmyth in order to make iconfonts work with data populator, we needed to make a few minor changes. just get rid of the curly brackets in the layer name and it should work.

we're close to release a completely refactored version of the plugin and there will be more documentation coming with that. for a sneak peak, you can check the "refactoring" branch...

[2016-08-17 15:56] rorysmyth commented on #66
Thanks @nitrada. Works like a charm!

Will check out the new branch. Great work btw

[2016-08-17 15:58] nitrada commented on #66
@rorysmyth you'll like l | -l n" if you're into truncating text ;-)

[2016-08-29 09:08] bomberstudios opened #67 "Deprecation warning"
Hi there,

As you probably know, `setPatternImage:` has been deprecated for a while, and it will be removed in Sketch v40. Please update your Plugin to use `setImage:` instead or it won't work in the next release :)

[2016-08-29 09:37] nitrada commented on #67
Thanks for pointing @bomberstudios!

[2016-08-29 10:23] lukasondrej commented on #67
Thanks, I'll take a look at that.

[2016-08-31 00:04] iamaaronmartin commented on #64
To the credit of this plug-in, Craft doesn't let you define whole sets of data that travel together. And it's always random.

[2016-08-31 12:56] russgoodman opened #68 "Selecting which set of data : Feature Request"
When I have several objects/sets of data in my JSON file, it would be really useful to be able to select which individual object/sets of data I want to populate a single component. This is the one killer feature that I would really love.

[2016-09-13 08:06] nitrada commented on #68
hey @russgoodman, can you elaborate a bit more? give an example?

[2016-09-13 13:13] russgoodman commented on #68
For sure. I'm making a part of an interface that has five videos players. There's an image, a title, the length of time per video, and I have 20 sets of video data in my JSON file. I'd like to be able to select a single video component, and be able to select which of the 20 sets of video data in my JSON file I would like to apply to this video component. Currently I would either need to have 20 JS

[2016-09-19 10:05] Sn0wfreezeDev opened #69 "Using nested objects in JSON"
I tried to use a nested object like:

[code]

Actually I think the data populator does not support nested objects.
It would be great to add that feature in a future realse. Referencing could work like: {nestes.image}

Thank you for the great work !
Alex

[2016-11-03 12:30] Ninerian opened #70 "Renaming Groups"
Hello,

thanks for this great plugin and the work you've invested. It really helps to save a lot of time! 👍

Is it possible to rename the group, which contains the placeholders? I tried it by giving the group an placeholder name {id}, but it wasn't renamed.

[2016-11-09 11:23] PDXIII commented on #59
I found a workaround. You create a text object follow the naming conventions set it on fixed and then insert as many line breaks (enter) as you wish. Maybe this helps.

[2016-11-10 06:34] #67 closed

[2016-11-18 20:10] seanmpm opened #71 "Duplicating objects and clearing layer reverts to initial text"
Any duplicated text box reverts back to it's original state when I clear layers.

So, option+drag, and then change the text to a new ID from the JSON, then import, then clear - it reverts to the oldest ID. It didn't used to work like this and it's ruined a lot of work because I copy design elements all over the place. Creating a new text box each time is inefficient.

[2016-11-25 19:15] nitrada commented on #71
our desired behavior is: 'clear' reverts a selected text layer to its initial {placeholder}. this means there can only be ONE placeholder per layer.

we did this because sometimes, we were quite irritated ourselves when we used an already populated layer, overwrote its data with another placeholder – but populating would always use the original placeholder, because it is stored in the layer as met

[2016-11-25 21:48] #71 closed

[2016-11-25 22:11] zhenximi commented on #65
I have the same issue, it the text is empty when it's a number in Json

[2016-11-26 08:26] lukasondrej commented on #65
The issue should now be fixed. Let us know if it works for you.

[2016-11-26 09:04] nitrada commented on #65
thanks @lukasondrej!

[2016-12-01 16:09] zhenximi commented on #65
Thanks @lukasondrej , now it working great!

[2016-12-02 06:14] #65 closed

[2016-12-13 19:03] marcelosomers opened #72 "Issues with a comma separated list"
I'm using the contacts/full-data preset data. I want to populate lastname, firstname (e.g., Doe, John) similar to the animated GIF example in the README. Unless I'm missing something, there seems to be a bug in that just including a comma + space breaks.

I've tried several options to accomplish this, none of which work:

* `{lastname,firstname|&, }` loses the comma (Doe John)
* `{lastname}, {firs

[2016-12-30 19:52] nitrada commented on #70
@Ninerian no, it doesn't replace Layer or layer Group names – just the content of Text Layers or "Image Layers". You can use a {placeholder} in a Text Layer name as a proxy to replace the whole Text Layer with respective data (that's eg useful for IconFonts).

[2016-12-30 19:53] #66 closed

[2016-12-30 19:54] #64 closed

[2016-12-30 19:55] nitrada commented on #63
@acleave thanks for reporting! We'll release an update that will improve populating sysmbols sometime in January 2017.

[2016-12-30 19:56] #60 closed

[2016-12-30 20:06] nitrada commented on #59
@russgoodman @PDXIII multi line text is now possible, but not yet documented. We'll update the readme/documentation in the first week of January.

Short version:
append a Layer name (in the LAyers Inspector) with `-l n`  — set `n` as the max number of lines in a fixed size text layer. For example, `Layer name | -l 3` will turn the Text Layer into a box with 3 lines (if there's enough data).

[2016-12-30 20:08] nitrada commented on #54
@russgoodman can you try this with the current version of the plugin?

[2016-12-30 20:09] #44 closed

[2017-01-02 10:55] nitrada opened #73 "chaining conditional actions"
eg: `#hide["{Type}"="Text"] && #hide["{Type}"="Other”]`

is this already possible? or should we allow it in the future?
(it was a question via email)

[2017-01-02 20:58] rockitbaby commented on #73
`#hide["{Type}"=="Text" || "{Type}"="Other"]`

works. inside square brackets: after evaluation of template variables, its an expression of pure javascript..

[2017-01-02 22:20] nitrada commented on #73
great, thanks!

[2017-01-02 22:20] #73 closed

[2017-01-05 06:51] nitrada opened #74 "Conditional Action: 'swap'"
it would be great to have the following conditional action:

`swapSymbol`

'swapSymbol' should also work with nested symbol overrides (to swap symbol instances inside symbols based on data).

[2017-01-09 17:19] mlindholm opened #75 "Plugin unavailable on Sketch 41.2"
I have the plugin installed via Sketch Toolbox but it doesn't show in the Plugins menu nor in Preferences > Plugins. Worked fine on previous versions of Sketch. I'm running OSX 10.11.6

[2017-01-09 22:52] nitrada commented on #75
@mlindholm can you try downloading the latest release and installing it as described in the readme?

[2017-01-20 07:35] #70 closed

[2017-01-20 07:36] nitrada commented on #59
now documented in the https://github.com/preciousforever/sketch-data-populator/blob/master/README.md

a better demo.sketch will follow.

[2017-01-20 07:36] #59 closed

[2017-01-25 18:56] evandeininger opened #76 "Sketch 42 : can't update with JSON"
Since updating to Sketch 42 it looks like Data Populator doesn't want to work any more:
- Tried to select a layer with the appropriate layer name (in my case: `{article2.title}`) but nothing happened.
- Tried to see if error messaging comes up when nothing is selected and nothing appears.
- Reveal Presets still brings up finder with no issue, but everything else has no pulse.

[2017-01-25 19:51] nitrada commented on #76
hey @evandeininger, v2.0.1 should fix this: https://github.com/preciousforever/sketch-data-populator/releases

[2017-01-25 22:43] evandeininger commented on #76
Totally fixed sorry about that! Thanks @nitrada!

[2017-01-25 22:43] #76 closed

[2017-01-26 06:02] nitrada commented on #76
Thanks for reporting. We had it fixed earlier but i only pushed the release after you created the issue! :-)

[2017-01-28 20:28] #75 closed

[2017-01-31 09:59] nitrada commented on #63
@acleave we reworked the nested symbols populating behavior in v2.0.2: https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.0.2

please check it out and let us know if everything works for you!

[2017-01-31 09:59] #63 closed

[2017-01-31 09:59] #54 closed

[2017-01-31 10:12] nitrada commented on #72
@marcelosomers should be fixed with v2.0.2:
https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.0.2

[2017-01-31 10:12] #72 closed

[2017-01-31 12:21] vladmoroz opened #77 "Fit images in shapes (Feature request)"
Would be great to have a checkbox to set image pattern fill type to Fit instead of Fill

[2017-01-31 14:28] nitrada commented on #77
@vladmoroz as a conditional action, you mean? meaning you can change this setting driven by data?

[2017-01-31 15:04] vladmoroz commented on #77
Just a simple setting like [this](https://www.dropbox.com/s/kasmbigjuj9xtnz/Screenshot%202017-01-31%2017.00.05.png?dl=0)

Alternatively, would be great if plugin would respect layer's pattern fill type and not overwrite it

[2017-01-31 15:25] nitrada commented on #77
that's something we could do, right @lukasondrej? (i think when we implemented it back then there were no options for the fill)

[2017-02-02 06:41] shannon-murdoch-webjet commented on #77
Maybe a layer name based approach would be better... ie {imgURL | fill} or {imgURL | fit}

[2017-02-06 14:26] rezaarkan commented on #77
Pull request for temporary disable on #78, as suggested by @vladmoroz

[2017-02-07 07:33] nitrada commented on #77
thanks @rezaarkan @vladmoroz @shannon-murdoch-webjet!

please check out v2.1.2
https://github.com/preciousforever/sketch-data-populator/releases

[2017-02-07 07:33] #77 closed

[2017-02-07 23:36] shannon-murdoch-webjet commented on #74
Love it @nitrada - used it today to affect the symbol used by one of my repeating elements:
![swapsymbol](https://cloud.githubusercontent.com/assets/2764182/22716462/436e33fa-edea-11e6-8f5f-bad1da59899e.png)

[2017-02-08 13:59] nitrada commented on #74
that's awesome, @shannon-murdoch-webjet!

would be so cool if you could share that "flight data card" example including the JSON for it. great source for learning! ;-)

[2017-02-08 22:39] shannon-murdoch-webjet commented on #74
Sure - I'll share with you directly for now as it's pre-production work. :-)

[2017-02-11 16:35] nitrada opened #80 "Data Populator Usage Examples Library"
We're currently collecting a Library of usage examples of **Sketch Data Populator**. So if there's something you would like to share with the world, please let us know and we'll publish your JSON and Sketch Examples in this repository and if you like, also integrate it into the official demo file.

Feel free to post screenshots or links here just like @shannon-murdoch-webjet did in the comments of

[2017-02-12 14:24] lukasondrej commented on #68
I've had some ideas about this too @russgoodman. I'd say a nice way to do it could also be just adding something like `[2]` or `@[2]` to the name of the layer/group you're populating to select the object at index 2 in the data array. What do you think about that?

[2017-02-12 16:20] russgoodman commented on #68
@lukasondrej I think it would be preferable to decouple the specific data request from the vector. Because there are various sets of data in the json file I'd think I'd be more likely to be using symbols. Although I can see the Data Populator UI getting complex if you're populating repetitive pieces design components. I'm not sure where more difficulty lies here, from a development perspective.

[2017-02-22 15:59] MDBas commented on #69
This would be a great addition!

[2017-02-22 17:43] guillaumechabot opened #81 "Renaming artboards"
**Bug:**
After renaming an existing artboard with a new name, when I run the plugin it goes back to the previous artboard name.

**Expected behaviour:**
The artboard name shouldn't change when running the plugin.

[2017-02-22 17:47] nitrada commented on #81
@guillaumechabot thanks! can you describe step by step what you are doing? still don't fully get what the issue is, sorry.

[2017-02-22 21:35] nitrada commented on #81
@guillaumechabot did you populate the artboard name before? what's weird is that usually if you clear a layer (or artboard), it should go back to the original {placeholder}…

maybe @lukasondrej has an idea.

[2017-02-22 21:38] nitrada opened #82 "width of symbol instance should work for trimming/truncation for text inside the symbol"
that's very important if you use nested symbols that only hold a single text layer.

[2017-02-22 21:41] nitrada opened #83 "wrong focus/context?"
(this will be a bit fuzzy, but maybe it triggers an idea)

sometimes, when I try to populate inside a certain document, it jumps to another open document and asks me to select the layers i'd like to populate. If that happens, it's 100% reproducible.

[2017-02-23 02:00] ployer900 opened #84 "why filter don't work, for example,{name | upper}, {name | -l n}?"

[2017-02-23 09:26] lukasondrej commented on #81
@guillaumechabot you're right, there seems to be a bug. I'll take a look at it soon.

[2017-02-23 09:29] nitrada commented on #84
@ployer900 can you please describe your issue with more details and give us an a example file to investigate?

[2017-02-27 19:46] ColeTownsend opened #85 "Bug: Cannot use true, must use "true""
Unfortunately it appears that checking for `true` as in `"{selected}" === true` does not work and we must do a string comparison.

![image](https://cloud.githubusercontent.com/assets/987654/23376825/92b2e242-fcfb-11e6-969a-798579af491c.png)

[2017-03-01 14:34] ericazf opened #86 "Concatenation issues"
Hi, I'm having trouble concatenating a string.

My JSON is like this:
`{
        "id": "1",
        "shop": "JuGás Liberdade",
        "streetname": "Av. Galvão Bueno",
        "number": "337",
        "neighbourhood": "Liberdade",
        "city": "São Paulo"
    }`

And on the Sketch file, I'm doing:

But for some reason when I run the script it just shows the street name.

It's also worth mentio

[2017-03-07 06:29] nitrada commented on #86
@ericazf make sure the Layer name (in the Layers list on the left) is not called {streetname}. otherwise, the {placeholder} used in the Layer name will always overwrite all other {placeholders} inside a Text Layer's content (that's necessary if you use Iconfonts).

[2017-03-07 09:51] ericazf commented on #86
Hi, thanks for your reply. Still not working, though.

I recorded my screen so you can check it out.
https://youtu.be/-o6SErFzPQ4

Weirdly, I realised that once I run the plugin, it hides the layer where the concatenation should happen. And when I show it again, the text inside is just a hyphen.

[2017-03-07 10:48] nitrada commented on #86
hidden + hypen means there's no corresponding data in the JSON. since the JSON shown above has these data, it could also be that the layer was populated with other data before.

can you select the layer that is not working an clear it? if it shows {something} after clearing, replace this with your desired concatenation and it should work.

(the main issue here is that you cannot see on the UI if a

[2017-03-07 13:53] ericazf commented on #86
It worked! Thanks a lot! :)

[2017-03-07 16:40] nitrada commented on #86
you're welcome!

[2017-03-07 16:40] #86 closed

[2017-03-08 13:36] nitrada commented on #83
that's a Sketch Runner issue.

[2017-03-08 13:36] #83 closed

[2017-03-10 19:55] H3GGERS opened #87 "Feature Request: Pull from multiple JSON files"
It would be amazing if I could populate data from multiple JSON files. My use-case is that I have symbols with several different text layers that get populated using your plugin. Some of those text layers need to point to different JSON files (basically I'm too lazy to try an configure a master file). From what I can tell, the plugin can only point to one file so if I repopulate, i get "undefined"

[2017-03-20 15:25] timothyachumba opened #88 "Exclude layers from the process"
Some of my nested symbols are being overwritten with an empty string, I just want to exclude a particular layer or automatically exclude layers without `{}` present.

[2017-03-20 21:38] nitrada commented on #88
If layer names or text layer content do not have a `{placeholder}` in them, they are automatically excluded. It might be that your layers that get overwritten with an empty string had been populated before. Try the Clear command to see if that's the case. Hope that helps!

[2017-03-22 10:16] timothyachumba commented on #88
@nitrada I tried to clear everything but no luck, the layer is still being overwritten with a blank character.

[2017-03-22 17:48] nitrada commented on #88
@timothyachumba what is the layer called (in the layers list)?

[2017-03-23 07:29] lajlev commented on #59
I really struggle to make it work. Would some elaborate on how they got it working 😢

[2017-03-23 11:36] Stompfrog opened #89 "Problem loading non HTTPS images from URLs"
I can get images to load fine in my prototype but only if they are served using HTTPS rather than HTTP. Some of the images I need to pull in are only available on an HTTP server and these fail with the following error...

'Some images could not be loaded. Please check the URLs.'

Any ideas?

Example JSON:
`{
	"secureImage" : "https://www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_

[2017-03-23 19:01] adamkirkwood opened #90 "[Feature Request] Integrate with Sketchpacks Relay to serve auto-updates"
More details found @ https://github.com/integration/sketchpacks-relay

Example
![screen shot 2017-03-22 at 4 08 57 pm](https://cloud.githubusercontent.com/assets/52746/24224720/fc40de64-0f19-11e7-8473-a2798193fc33.png)

[2017-03-25 09:54] nitrada commented on #90
@adamkirkwood ✅

[2017-03-25 09:54] #90 closed

[2017-03-27 19:07] skipjack commented on #52
I'm not sure if my issue is the same as the one described here as it looks like that twitter account is protected... if it's not I'd be happy to create a new issue. I'll leave this one closed and wait for advice for a bit before doing anything else.

I was wondering if something like this is possible:

![image](https://cloud.githubusercontent.com/assets/8988697/24373162/7619c498-12fe-11e7-9b5b-767

[2017-03-27 19:12] nitrada commented on #52
@skipjack have you tried using {name} in the content of the layer inside the symbol? Like this, the placeholders always remain unpopulated and the populated data is just in the overrides.

[2017-03-27 19:18] skipjack commented on #52
@nitrada thanks for the quick response! Yes that does work however the symbols I'm trying to populate are broadly used and thus would not have the same `{placeholder}` data in every instance.

So detaching them and doing what you mentioned works, but then I lose out on updates to those common symbols.

[2017-03-27 19:20] nitrada commented on #52
@skipjack you don't need to detach them. They can have different data in each instance although they have the same placeholder in the symbol!

[2017-03-27 19:29] skipjack commented on #52
@nitrada Sorry I think I should have mentioned these are overrides within nested symbols. Also, I meant they wouldn't necessarily be pulling from the same __key__ within the JSON data. I can try to put together a demo if that would be helpful.

Related side note: Are there any good videos or tutorials you could point me towards that go through using this plugin for symbols and nested symbols? I wa

[2017-03-27 20:27] nitrada commented on #52
@skipjack sorry, no video tutorials. but have you checked the demo.sketch?

what about creating different nested symbols, each with their own data key `{placeholder}`? you could then use `swapSymbol` to change them driven by data…

[2017-03-27 20:31] nitrada commented on #52
(regarding the feature you mentioned earlier: would be great if you coud open a new issue as a feature request. demo would be helpful, too!)

[2017-03-27 20:39] skipjack commented on #52
@nitrada sounds good, I'll...

- check out the demo.sketch file
- give this some more thought and try the alternatives you mentioned
- create a new issue with more details and an example

Thanks again!

[2017-03-31 07:13] lajlev commented on #84
I have the same problem
Template
http://u.laj.lv/IZTe+

JSON
http://u.laj.lv/CZCh+

Settings
http://u.laj.lv/1757R+

Output
![image](https://cloud.githubusercontent.com/assets/133836/24540156/3ed23334-15f2-11e7-8632-87a5c7103993.png)
+

[2017-04-06 14:41] ColeTownsend commented on #84
Having a similar issue, where the filters don't work. Strings are automatically lowercasing for me

[2017-04-06 14:56] ColeTownsend opened #92 "Joins not working for dot syntax / nested objects"
![image](https://cloud.githubusercontent.com/assets/987654/24760729/8270a71e-1ab7-11e7-9a56-2243e8bd55a6.png)

![image](https://cloud.githubusercontent.com/assets/987654/24760737/86d17c2a-1ab7-11e7-982c-dca98931611f.png)

[code]

[2017-04-12 14:24] skipjack opened #94 "Feature Request: Allow Placeholders in Overrides"
Based off a conversation with @nitrada in #52...

The current behavior for using this plugin with symbols allows using the `{...}` placeholders within layer names (and layer content?) as such:

![image](https://cloud.githubusercontent.com/assets/8988697/24961499/f407447e-1f66-11e7-8231-8bf856d75361.png)

However, I'm in a scenario where I don't want to lock my symbols (nested symbols here) to a pa

[2017-04-12 15:46] tdemooij opened #95 "Text override is gone after 'populate again'"
This illustrates it best:

![text override](https://cloud.githubusercontent.com/assets/1323077/24966374/0b77f550-1fa7-11e7-8e7d-64a31107aab0.gif)

I have a 'tag' symbol, within a 'contact' symbol. When I override the content of the text-layer within the 'tag' symbol, this texts resets when i do 'populate again'. I would expect it to remember the override.

You can download the [sketch file](https:

[2017-04-12 19:35] nitrada commented on #94
@lukasondrej what do you think?

[2017-04-16 06:16] napathello opened #96 "Possible rename symbol ?"
Hi

Thank you for plugin , but I have questions
Possible rename symbol use JSON data ?

[2017-04-20 08:39] asgeirhoem commented on #84
Same as the comments above.

[2017-04-27 19:02] skipjack commented on #96
@napathello you may want to see #94... long story short is yes via layer names/content but not via overrides. There's an example in the [demo.sketch](https://github.com/preciousforever/sketch-data-populator/blob/master/demo.sketch) file.

[2017-05-09 11:20] filipux commented on #42
This feature is the only thing that prevents us from using real json-data in all our apps. When it gets implemented this plugin really becomes a game changer!

`{
    "name": "My chainsaw",
    "image": "img/chainsaw.png",
    "cards": [{
        "caption": "Battery level",
        "text": "58%"
    }, {
        "caption": "RPM",
        "text": "3600"
    }, {
        "caption": "Runtime",

[2017-05-11 18:16] christoyc opened #97 "Feature Request: Allow JSON to fill object color"
I manage color stories and themes in a spreadsheet. It would be awesome to be able to fill the color of a object from the HEX or RGB value in the JSON to instantly create a color styleguide. BTW, I love love love your plugin. Thank you so much for your work.

[2017-05-18 23:13] seandellis opened #98 "Bug: No longer works with symbol overrides in Sketch 44"
I upgraded Sketch today and found that symbol overrides no longer work it in version 44. I've attached an example file and video for debugging purposes.

![screenshot 2017-05-18 18 08 22](https://cloud.githubusercontent.com/assets/1584916/26227037/6b6ff2e0-3bf5-11e7-93ba-731837279f67.png)

This plugin is a lifesaver and I'd love to see it up and running again. Thank you!

[bug-symbol-data populato

[2017-05-22 08:39] asgeirhoem commented on #98
+1

[2017-05-22 08:42] nitrada commented on #98
@lukasondrej will have a look once he's back from his vacation (this week).

[2017-05-23 04:45] seandellis commented on #98
@nitrada Thanks for the update. 😄

[2017-05-29 10:04] #74 closed

[2017-05-29 21:37] endswithak commented on #84
I'm having similar issues. It seems like no matter what filter you select, it will always use the Lowercase filter.

[2017-05-29 23:10] endswithak commented on #84
The for loop within the `applyFilter` function in `src/library/filters/index.js` is what's causing the issue.

#### Current
[code]

#### Possible fix
[code]

The current for loop checks to see if `filter.command` matches any of the filter names. This isn't good because `filter.command` is always going to be an empty string due to the `parseFilter` function in `src/library/filters/index.js`.

[2017-05-30 00:09] endswithak commented on #84
It looks like the issue has to do with the `parseFilter` function in `src/library/filters/index.js`.

#### Current
[code]

#### Possible fix

[code]

This fix replaces all instances of `filterString` with a new variable `fstring` and adds `&& filters[i].alias.length` to the for loop `else if` conditional.

[2017-05-30 01:56] endswithak commented on #92
This might have to do with filters not working in general. I listed a possible fix in an older issue: https://github.com/preciousforever/sketch-data-populator/issues/84

[2017-05-31 09:52] lukasondrej commented on #98
@seandellis overrides now work in 44.

[2017-05-31 10:04] lukasondrej commented on #95
@tdemooij please try the latest commit. Overrides that are not overwritten or cleared are kept, meaning that the example mentioned above now works as expected.

[2017-05-31 10:04] #95 closed

[2017-05-31 10:08] lukasondrej commented on #92
@ColeTownsend joins with dot syntax work as expected. The source of this issue was actually that the space between the pipe and the filter name was not allowed, e.g. {one,two | & • } didn't work but {one,two |& • } did. Now both work. Sorry for the confusion.

[2017-05-31 10:08] #92 closed

[2017-05-31 10:10] lukasondrej commented on #89
@Stompfrog as far as I know, it's not possible to load images over HTTP due to the App Transport Security restrictions which are enabled in Sketch. This means that Sketch only allows connections that are secure, e.g. over HTTPS. Unfortunately, it's not possible for us to overcome this issue at this point in time.

[2017-05-31 10:10] #89 closed

[2017-05-31 10:14] lukasondrej commented on #85
@ColeTownsend to avoid the need for string comparison, please don't use quotes around **boolean** placeholders, e.g. if `selected` is a boolean value then `{selected} == true` is valid. `"{selected}" == true` is not valid because it renders to `"true" == true` for example. Hope this helps.

[2017-05-31 10:14] #85 closed

[2017-05-31 10:21] lukasondrej commented on #84
Filters should now work as expected. There are a few things to keep in mind though:

- `-l n` can only be added to layer name, not within a placeholder written in a text layer
- filters must be nested using `()` not `{}`, e.g. `{(valOne | upper | max 4), valTwo | & • }`
- if the text layer name contains a placeholder, it will override any placeholders contained in the text layer

[2017-05-31 10:21] #84 closed

[2017-05-31 10:23] lukasondrej commented on #69
Nested objects are now fully supported. You can also nest any number of objects, e.g. `{top.nested.anotherNested.property}`. Please try it out and let us know if it works for you.

[2017-05-31 10:23] #69 closed

[2017-05-31 10:29] #81 closed

[2017-05-31 11:38] tdemooij commented on #95
Great, thx!

[2017-06-01 10:33] bomberstudios opened #99 "Support Sketch 45 plugin update system"
Hi there!

This is a quick note to remind you that Sketch 45 will include a plugin update system.

It would be awesome if you could add support to it (it's really easy!) before Sketch 45 comes out. Ideally, you should release an update for your plugin while we're still in Sketch 44, so your users will have a nice & easy experience when 45 is released.

For more details, please check http://sketchp

[2017-06-02 16:23] andyra commented on #98
@lukasondrej Symbol overrides still aren't working for me with:

- Sketch 44.1
- Data Populator 2.1.3
- macOS 10.12.5

In addition to using a JSON file I normally use, I tried the demo.sketch file included in this repo using the demo presets without any luck. Is there anything more specific I can contribute that might help?

[2017-06-02 18:22] eaugustine commented on #98
Yes, still not working for me either.
Sketch 44.1
Data Populator 2.1.3
macOS 10.11.13

[2017-06-02 20:05] williambout commented on #98
It's not working for me either (building from master).
I managed to make it work by removing the symbols inside my main symbol.

[2017-06-03 07:56] lukasondrej commented on #98
We'll do more testing, thanks for the comments!

[2017-06-05 14:38] richardquay commented on #98
Thanks for looking into this! Do you might have an ETA on this?

[2017-06-05 14:38] eaugustine commented on #98
Here's an extra piece of information. It DOES work if you select a symbol with nested symbols which you have previously tried to have populated with the plugin, and choose to replace the symbol with itself, either through the contextual menu or through the inspector panel. The data gets added that way. But if you then use the shortcut to repopulate the data, it goes back to the placeholders.

[2017-06-12 15:26] nigelbalchin opened #100 "Request: Iteration on nested arrays"
Hi - is there a mechanism to allow iteration on nested arrays of JSON data? I don't want to have to index individual elements in the array in line with your responses on Request: Nested arrays #49 / Not recognising nested data #45 - I'd like to iterate by default. Is this achievable?
Cheers

[
 {
   "givenName": "John",
   "surName": "Smith",
   "phones": [
      {
         "type":     "Mobile",

[2017-06-13 09:47] vladmoroz commented on #98
Doesn't work for me as well.
Sketch 44.1, Data Populator 2.3.1, macOS 10.12.5

@eaugustine Thanks for the workaround. It's really weird that when replaced, symbol has data from JSON, but subsequent repopulation resets symbol to placholder data

[2017-06-16 08:04] wolfganglattermann commented on #98
i can confirm that it's not working on sketch 44.1, data populator 2.1.3, macOs 10.12.4

as I am very happy that data populator allows the use of conditional actions, i would like to try the plugin with the newest version of sketch. might you give an ETA on this fix?

[2017-06-16 10:56] lukasondrej commented on #98
Really sorry for the inconvenience, the fix will be ready very soon (as part of the next release).

[2017-06-16 17:54] docmars commented on #72
Hey there, sorry to re-open this, but this is happening to me in v2.1.3, where I've entered a very simple string:

{symbol}:{exchange}

Then using the JSON populator, the colon ( : ) is getting lost after running it. 😞

[2017-06-16 17:59] docmars opened #101 "Additional text is being trimmed or omitted"
Hey there,

**Version:** 2.1.3

I'm getting an issue where strings like `{symbol}:{exchange}` are resulting in just the `symbol` value, but the colon ( : ) and `exchange` are being left off.

Even in the demo file where you have `{company?Freelance} · {job?–}`, the only string coming in from the contacts demo JSON is the `company`.

[2017-06-19 10:03] lukasondrej commented on #101
Hey @docmars,

could you verify the name of the text layer. I believe the issue is that your layer name contains `{company?Freelance}` and hence only the company is populated.

If the layer name contains placeholders, only the first one is considered and takes precedence over any placeholders in the text content of the layer.

You may wish to rename the text layer to not contain placeholders.

Hop

[2017-06-19 10:03] #101 closed

[2017-06-19 15:24] docmars commented on #101
Ahh got it. Thanks for the tip, I'll give it a try.

Awesome plugin, btw—I really wish this existed for Adobe Illustrator!

[2017-06-19 16:25] mhcom commented on #94
Any news on this? Would be a killer feature to create truly modular Sketch files and test them with real data in no time at all!

[2017-06-19 20:30] nitrada commented on #98
it should work with this release: https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.2.0

please let us know if you're still running into troubles!

[2017-06-19 20:31] nitrada commented on #99
@bomberstudios ready with this release:
https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.2.0

[2017-06-19 20:31] #99 closed

[2017-06-19 20:42] bomberstudios commented on #99
🎉🎉🎉

[2017-06-19 22:05] seandellis commented on #98
@nitrada @lukasondrej  Yep, the latest release now works on my example file. Thanks so much for fixing this!

[2017-06-19 22:05] #98 closed

[2017-06-20 11:43] nitrada commented on #94
we're still thinking about it… :)

[2017-06-20 13:17] mhcom commented on #94
Let us know if we can support the thought process (why it makes sense, etc.) or support it in any other way! :)

[2017-06-23 17:49] meganfrankosky opened #102 "Inserted symbols not populating with data"
Hello! First off, I absolutely love what you have done, this is a very useful plugin! One issue I am having is with populating data into inserted symbols. I have tried several times with the demo file to populate data into an inserted symbol but this does not seem to be working. When I insert the symbol, select the symbol, then select the data to be loaded, the symbol remains the same (or with gri

[2017-06-24 06:36] nitrada commented on #102
Hey @meganfrankosky, which version of Sketch and Data Populator do you use? And what do you mean with "inserted symbol"?

[2017-06-26 15:08] meganfrankosky commented on #102
I have Sketch version 44.1 and Data Populator 2.1.3.

By inserted symbol, I mean a group of objects with multiple {placeholders} that have been converted to a symbol, then inserted as a symbol onto the art board. Does that make sense?

[2017-06-26 16:11] sixtyfourthirtytwo commented on #102
I've got the same issues, running the same versions of Sketch and SDP.

[2017-06-27 04:44] nitrada commented on #102
@meganfrankosky @sixtyfourthirtytwo please update the plugin to v2.2.0 and let us know if it works

[2017-06-27 09:50] sixtyfourthirtytwo commented on #102
@nitrada Seems to be working now. Thank You!

[2017-06-27 19:40] meganfrankosky commented on #102
@nitrada working for me now as well, thanks very much!!

[2017-06-27 20:08] nitrada commented on #102
great, you're welcome :)

[2017-06-27 20:08] #102 closed

[2017-07-09 04:31] JikkuJose opened #103 "Any chance to change background color of symbols?"
I am thinking of having a solution to programatically change background color of symbols, can this be possible feature?

[2017-07-26 09:35] ItsJoeTurner commented on #9
+1 for "Populate from URL" command. I'm working w/ live data to create a daily graphic.

[2017-07-27 20:38] andyra opened #104 "Conditionals not working in symbols"
Conditionals don't seem to work within symbols (but work fine otherwise). An example symbol:

- A text layer with `{name}` as the content will output, for example, "Bill"
- A shape layer with the name `#hide["{name}".length > 0]` shouldn't be visible since {name} has a length of 4 (in this case).

Software versions:
- Sketch 45.2
- Sketch Data Populator 2.2.0
- macOS 10.12.5

[2017-09-03 14:28] alirenttrack opened #105 "placeholders text within sentence"
Would love to have placeholders within text areas.

This almost does the job:
{name,price,date,time|& · } adding in a '·'

so it could be:
{name,price,|& hello there } which gives me name hello there price hello there.

However, what if we could do:
For only {price} you could be surfing too. Please signup by {date} to register.

I'm working around with stock data in cells at the minute (such as 'y

[2017-09-04 18:33] alirenttrack opened #106 "arbitrary string concatenation not working"
Arbitrary string concatenation such as {propertyname}, {creditfee} does not work. See Gif.

![concatenation](https://user-images.githubusercontent.com/26285333/30036073-9065af2e-9175-11e7-999b-906969bcd6f1.gif)

[2017-09-04 18:34] alirenttrack opened #107 "Multi-Artboard Support"
I can only run the plugin per arboard - would it be difficult to allow multiple artboards?

![multi-artboard](https://user-images.githubusercontent.com/26285333/30036102-c9127f5a-9175-11e7-9da5-66b7f392d326.gif)

[2017-09-04 18:52] alirenttrack opened #108 "#delete[condition]"
If I use the #delete["{column-title}" == "cell"] on an artboard, it works to delete the artboard, however, the artboards that follow that deleted artboard, none of the {placeholders} work.

For example with 6 artboards:

Artboard 1 - Shows & all {placeholders} work.
Artboard 2 - Shows &  all {placeholders} work.
Artboard 3 - Deletes (As intended using #delete[condition])
Artboard 4 - Shows but no

[2017-09-04 19:25] alirenttrack commented on #108
Note: this only applies to Artboards.

[2017-09-04 20:07] alirenttrack opened #109 "Group Name via {placeholder}"
Currently if you name the Artboard {placeholder} and run the plugin, the arboard names update. However, if you name a Group {placeholder} and do the same, the Group does not update with the name.

[2017-09-06 22:29] ossanti commented on #98
sorry for bringing bad news but not working for me, the content gets replaced by empty spaces
<img width="895" alt="screenshot 2017-09-06 17 26 42" src="https://user-images.githubusercontent.com/5726971/30137440-f19cf752-9328-11e7-81a0-dbb3a243d906.png">
<img width="906" alt="screenshot 2017-09-06 17 27 29" src="https://user-images.githubusercontent.com/5726971/30137439-f19b5820-9328-11e7-88f1-b28

[2017-09-06 22:34] ossanti commented on #98
not working for me :/ I'm getting empty spaces
Sketch: 46.2
Mac OS: 10.12.6
plugin: 2.2.0

<img width="895" alt="screenshot 2017-09-06 17 26 42" src="https://user-images.githubusercontent.com/5726971/30137521-5a9153fc-9329-11e7-80d3-de540e92da82.png">
<img width="906" alt="screenshot 2017-09-06 17 27 29" src="https://user-images.githubusercontent.com/5726971/30137519-5a8f9b5c-9329-11e7-8e8d-16709a

[2017-09-06 23:06] ossanti opened #110 "Not replacing {value} using JSON file/sketch symbole"

[2017-09-14 16:19] rynhsy opened #111 "AWS image URLs need to be https"
I just had an issue (mainly from my team's CMS build) some of the images on AWS were referenced with just http in the URL instead of https

The http images were not retrieved by the plugin, but they do show in the browser without the "s" at the end.

I did a find and replace on a local copy of the JSON file to change them all to https, but would be good if it could still retrieve the image.

Love

[2017-09-18 13:47] ptribe opened #112 "Anyway to join text with a line break?"
I tried {value1, value2 |& \n } but it did not work. I want to be able to use line breaks because sometimes the json content could be long enough to wrap to a second line, but I want the new value to always be on a new line.

Is there a way to achieve this?

[2017-09-18 16:15] #112 closed

[2017-09-20 09:50] niksmac opened #113 "Possibility to calculate values?"
Some calculations like `{rowvalue} * 12`. Is it possible?

[2017-09-20 21:55] eaugustine opened #114 "Feature Request: Pull Random Set, Alphabetized"
I'd love to be able to pull a random selection of data from a very large list of items (over 2,000), that is then alphabetized.

Example: I have a very large list of names with attributes connected to each. I need to populate a table with those names. The table is paginated, so the first page may show 20 records and the second might show the last 15 or so. My data includes 2,000 alphabetized items

[2017-09-26 23:14] fonograph commented on #104
Confirmed using Sketch 46.2 / plugin 2.2.0. If I simply detach all my symbols, conditionals works fine.

[2017-10-06 00:20] #110 closed

[2017-10-06 22:32] ossanti commented on #69
this doesnt apply to arrays inside an object right? I tried to do the following

`
[
    {
        "presets": {
            "preset_value": "Today"
        }

    }
]
`

but had no luck

[2017-10-06 22:50] csantiago132 opened #115 "Nested objects works, does the same works for nested arrays inside an object?"
Ok, just to finally wrap my head around this plugin; as per the [closed issue 69
](https://github.com/preciousforever/sketch-data-populator/issues/69),
you can nest objects inside objects like so (and this works)

     {
            "presets": {

            "preset_value": "Today"

        }

    }

but i cannot nest an array inside an object (to populate data for symbols grouped under an object)

[2017-10-09 12:39] Oli4k opened #116 "Load JSON from a URL instead of local file"
I'd like to Load JSON from a URL set in the plugin interface instead of selecting a local file. It is not a big deal but it feels a bit weird to copy paste some json into a file first before reloading it into my design. Repopulate would ideally reload the data from the source and then update the file.

[2017-10-09 14:40] florianpnn opened #117 "Numbers aren't working"
I was trying to fill up symbol instances with only numbers and it doesn't work. I tried with `Integer`, `Float` and `String` but none of them are working.

[2017-10-11 20:05] andyra opened #118 "Doesn't work with symbols in Sketch 47"
Data Populator doesn't work on symbols or nested symbols with the latest version of Sketch. It works fine with the previous version (46).

[2017-10-11 22:09] chiliberto opened #119 "Image placeholders are broken with Sketch 47"
![populator_sketch47](https://user-images.githubusercontent.com/1380294/31469227-e2b5c132-ae95-11e7-89aa-f7b1a5d349f1.gif)

Image placeholders aren't getting updated or replaced with images at all.

Plus they are causing other placeholders to break.

I tested this with one of your demo presets.

[2017-10-11 22:12] chiliberto commented on #118
It looks like this is related to broken image placeholders. https://github.com/preciousforever/sketch-data-populator/issues/119

I found that the text placeholders will work as long as there are no image placeholders. This is unfortunate because in Sketch 47 they finally introduced libraries.

[2017-10-19 14:25] alirenttrack commented on #119
Having to keep two versions of Sketch on my machine to manage this. Would love a fix here.

[2017-10-24 15:07] johndilworth commented on #119
Looks like image placeholders are not getting updated due to this method that has been deprecated in Sketch 47
```return MSImageData.alloc().initWithImage_convertColorSpace(image, false);```

Replacing it with the following seems to fix the issue
```return MSImageData.alloc().initWithImage(image)```

[2017-10-26 20:56] paulwan commented on #119
@johndilworth It works!  Thank You!

[2017-10-31 20:29] lpredster commented on #118
Yeah, it seems ok with text, just not images.

[2017-11-01 14:10] rhawbert commented on #119
@paulwan How can I fix it myself in my local installation?
Editing _src/library/data.js_ doesn't seem to fix it.

[2017-11-01 14:22] paulwan commented on #119
@rhawbert what‘s your sketch version? I was change the code by johndilworth's method (sketch v47.1), it works.

[2017-11-01 15:31] rhawbert commented on #119
@paulwan latest (v47.1)... I've also tried to edit the line 4935 on "...Plugin-folder/Sketch Data Populator.sketchplugin/Contents/Sketch/plugin.js" but it is still throwing the error _"Some images could not be loaded. Please check the URLs"_

[2017-11-03 13:34] rhawbert commented on #119
Problem sorted, just wanted to share it here... my colleague found out that **nsurl** only accepts secure (https) URLs.

[2017-11-03 15:10] lpredster commented on #119
@johndilworth Thanks!! This fixed the image issue. However, Nested symbols are still not getting populated with the correct JSON values, all are just getting populated with the first item. I even tried the demo file and it's not working

Is this an issue for others?

[2017-11-05 15:06] adryweber commented on #119
@johndilworth Yes, thank you! It really works.

[2017-11-07 12:30] Oli4k commented on #119
In the sketch document I'm working on Data Populator stopped working at all if there's any image in the group I'm trying to populate. My URLs are https.

[2017-11-13 21:45] nitrada commented on #119
does v2.2.1 work for you all?

[2017-11-13 21:45] nitrada commented on #118
does v2.2.1 work for you all?

[2017-11-13 22:44] andyra commented on #118
Bingo, it sure does! Thanks so much!

[2017-11-13 22:44] #118 closed

[2017-11-22 19:33] evandeininger commented on #116
You could try Craft from Invision: https://www.invisionapp.com/craft you can paste a json url.

[2017-12-03 01:19] prabhasp commented on #119
v2.2.1 worked for me, but getting it required an uninstall / reinstall. The "update plugins" process didn't update to v2.2.1. In case this helps someone.

[2017-12-06 02:21] steamfrog2007 commented on #119
Help me out please, where do I get v 2.2.1 and where do I find the files to change as listed above Im not sure what file to look at.

Thanks

[2017-12-12 16:05] andyra commented on #119
I'm using 2.2.1 and symbol overrides aren't working if an image is included in the symbol (if there's no image in the symbol, overrides work as expected). I tried swapping out these bits to no effect:
[code]

[2017-12-12 20:54] evandeininger commented on #119
@johndilworth This worked! Thank you. If I get free time I'll see about making a PR unless you'd like to do the honors ;)

I'm having the same issue as lpredster though, nested symbols only get updated when I rerun data populator over them. At least I can still do that but what a pain.

@andyra That fix worked for me with sketch 48.1 could you be using an old version of sketch?

[2017-12-14 17:12] andyra commented on #119
@evandeininger Yes, I'm using Sketch 48.1. To be clear, here's what I'm experiencing both before and after the suggested fix above:

- **Library symbol with image**: no overrides update
- **Detached library symbol with image**: text overrides update, image overrides don't
- **Library symbol, no image**: works as expected

[2017-12-20 07:22] nitrada commented on #119
hey, something’s broken in 48 and we’ll ty to fix it soon. it seems it’s again a general issue with image placeholders, not just symbol overrides.

thanks for using the plugin and providing your feedback!

[2017-12-20 12:04] lukasondrej commented on #107
Hey @alirenttrack, I've looked into this issue in detail now and I understand what you'd like to achieve but there's a conceptual issue with it. Let me explain:

When you check 'Create grid', Data Populator only considers the top-left artboard in your selection. It then creates the grid using that single artboard (or layer, group, etc).

When multiple artboards are selected, all apart from the top

[2017-12-20 15:09] nitrada commented on #119
this should fix the issues with 48:
https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.2.2

[2017-12-20 16:39] andyra commented on #119
@nitrada, everything is working as expected with the latest update. Thanks!
By the by: this is the most useful plugin I use and I can't imagine working without it. Keep up the good work!

[2017-12-20 17:09] alirenttrack commented on #107
Hi @lukasondrej

Thanks so much for following up on this issue. I understand the behavior. If you allowed it - a grid with multiple origin points (top left) would overlap.

May I suggest that the only conditional change would be that if the plugin recognized you selected multiple art boards, it simply would only offer you a column or a row - not a grid?

In the example gif above, I would choose fr

[2017-12-21 07:19] nitrada commented on #119
@andyra great to hear this! :)

btw, from v2.2.2 on, the internal sketch update mechanism will work for data populator.

[2017-12-21 07:19] #119 closed

[2017-12-22 14:19] nitrada commented on #119
hey all, please check out v2.3.1 – we optimized the way you manage your preset library and the plugin bundle now doesn't contain any images anymore, making internal updates much faster.

would be great to hear if it works well for you!
https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.3.1

[2018-01-09 20:32] nwpappas opened #121 "Feature Request: `capitalize` filter"
Feature request for a 'capitalize' filter, which would behave as `text-transform: capitalize` style does.

Input:
[code]

Filter:
[code]

Output:
[code]

[2018-01-16 07:59] fotini-ioak opened #122 "Add non breaking space character in json file"
Hej, I have been trying to add non breaking space characters in my json files so that for example a phone number written like 070 123 456 789 would be recognised as a whole string but it has not been possible. Is this somehow supported?

/thanks

[2018-01-25 10:30] Oli4k commented on #116
Does craft allow to reload/refresh the JSON data? I tried it but it just seemed to load data once. Still I'd prefer using data populator plugin because its features are much nicer.

[2018-01-28 10:09] nitrada commented on #116
@Oli4k
we never deeply investigated to use json via a URL due to performance. if you use massive data with loads of images, i assume it will take a remarkable amount of time between running the populate command and seeing the result.

on the other hand i totally understand your reasoning – why not point to a json somewhere instead of just files on your hard drive. especially since this would allow

[2018-01-28 18:08] csantiago132 commented on #116
one workaround im using is RandomApi.com; I do a request to the RandomAPI, then write a JSON file, then I use the newly written JSON with the plugin. I can setup a repo of interested.

[2018-02-21 16:19] junaid2ali commented on #109
@alirenttrack did you find a fix for this? Thanks.

[2018-02-21 16:46] alirenttrack commented on #109
No, I didn’t. However I worked around the issue in my workflow.

On Feb 21, 2018, 10:20 AM -0600, junaid2ali <notifications@github.com>, wrote:

[2018-02-21 17:07] junaid2ali commented on #109
Can I ask what your work around was? Thanks.

Sent from my iPhone

On Feb 21, 2018, at 10:46 AM, alirenttrack <notifications@github.com<mailto:notifications@github.com>> wrote:

No, I didn’t. However I worked around the issue in my workflow.

On Feb 21, 2018, 10:20 AM -0600, junaid2ali <notifications@github.com<mailto:notifications@github.com>>, wrote:

—
You are receiving this because you comment

[2018-02-24 17:52] Mikola35 commented on #80
I try use this plugin with this sites:

https://www.mockaroo.com/
A free test data generator and API mocking tool - Mockaroo lets you create custom CSV, JSON, SQL, and Excel datasets to test and demo your software.

https://www.lists.design/
Lists is a gallery of real content ready to populate your mockups. Produce your best work by making informed decisions.

[2018-02-28 19:00] andyra opened #123 "Doesn't work with Symbols in Sketch 49"
I updated to Sketch 49 and Data Populator no longer applies symbol overrides. If I detach the instance from its symbol, Data Populator works as expected.

[2018-02-28 19:03] andyra commented on #123
Sorry, after closing Sketch and reopening, things are working as expected. Not sure why, but: phew!

[2018-02-28 19:30] andyra commented on #104
This is still an issue in Sketch 49

[2018-02-28 21:43] patowod commented on #68
This is such a great plugin - but being able to specifically tie a layer/group to an object would be a very valuable addition, especially when thinking about maintaining something like a copybook with contents across multiple screen variations, for example. Is there any chance that this will be implemented in the near future @lukasondrej ?

[2018-03-04 17:07] bottledsmoke commented on #94
I would love this feature as well. If you need any help implementing it, I can help out.

[2018-03-05 18:17] nitrada commented on #94
@bottledsmoke feel free to fork off and PR :)

[2018-03-06 13:42] Oli4k commented on #116
@csantiago132 My point is to be able to use production data, or as I'm doing now for a specific project, use a Google Sheet as some sort of CMS.

[2018-03-06 14:26] csantiago132 commented on #116
@Oli4k well, this would be amazing if added

[2018-03-08 12:18] tjdaveyuk commented on #106
Same for me, any update in this??

[2018-03-08 13:57] tjdaveyuk commented on #106
@alirenttrack the curly braces should go around the whole thing. ie. {propertyname, creditfee}

[2018-03-13 00:30] francesyun commented on #59
I don't think this is working 🤷‍♂️

[2018-03-14 11:55] hlambert commented on #63
Im still having problems getting this to work. Downloaded the zip-file from @acleave, and couldn't get that version working. Running Sketch 49.1.

[2018-03-14 11:58] hlambert commented on #123
I cannot get this to work. @andyra: Did you change anything to get it working?

[2018-03-14 15:32] andyra commented on #123
Sort of. I found that symbols I made before the v49 update oftentimes don't work with Data Populator. Some do and some don't and I can't tell what the difference between them is—some are even requesting the exact same JSON data fields, just arranged differently.

I've found that Data Populator _usually_ works if you recreate the symbols. You can't just delete the layers within the existing symbol

[2018-03-15 15:11] hlambert commented on #123
Thanks for your reply.

I have nested symbols, som copying and pasting symbols around is not really a feasible solution.

In addition to that, I have been having problems with InVision Craft sync as well.

[2018-03-15 22:13] setheryb commented on #123
I'm having the same problem. I created the symbols today and went to populate the data and am getting nothing.

[2018-03-16 10:42] patowod commented on #123
Same here, restarting Sketch doesn't work either. When detaching the same symbol it works fine. The idea of then creating a new symbol is nice but doesn't seem to work on my end, either. Any ideas, greatly appreciated.

[2018-03-26 09:42] nitrada commented on #123
@lukasondrej can you look into the symbols in Sketch 49 issue?

[2018-03-29 23:36] endswithak commented on #104
I was able to fix this by adding `Actions.performActions()` to the text and image loops within the `populateSymbolLayer` function. I also added the group layers loop to handle subgroup actions within the symbol.

[code]

[2018-04-05 13:27] pieterh83 commented on #123
I'm having the same problem for #hide and #show functions of layers inside a symbol. If I populate the data the layers with the #hide and #show layernames don't work anymore.

[2018-04-05 17:53] andyra commented on #123
@pieterh83 Unfortunately, conditionals don't work with symbols right now. I have a separate issue for that here: https://github.com/preciousforever/sketch-data-populator/issues/104

[2018-04-07 06:52] lukasondrej commented on #123
There was a similar issue at some point before when Sketch got updated. It's most likely because of a changed internal structure of how symbol overrides are stored on symbols. I will investigate.

[2018-04-07 08:41] nitrada commented on #123
@lukasondrej please note that it was already an issue with sketch 45 https://github.com/preciousforever/sketch-data-populator/issues/104

[2018-04-10 21:35] cihusss opened #124 "Skipping parent group"
I have a following layer/group structure and can't change it due to layout requirements:

group > dynamic text layer
group > group > dynamic text layer
group > dynamic text layer

How do I make the plugin skip the second parent group and not break?

[2018-04-11 13:47] #124 closed

[2018-04-11 13:47] cihusss commented on #124
I figured it out.

[2018-04-13 12:46] chrleon commented on #105
For only {price} you could be surfing too. Please signup by {date} to register.

This works for me

[2018-04-16 08:47] Mokhova commented on #97
Hi!
Is there any news on this yet?

[2018-05-06 11:13] rgbk opened #125 "Crashes Sketch"
Since a while now hitting Apple Shift X crashes Sketch, every-time. I'm on the latest Sketch, and have enjoyed using your plugin on a project I'm working on for a year now. I can't share the file, but can share the crash report if that helps. I can't find any other plugins that shares the same shortcut in my config.

[2018-05-07 19:14] nitrada commented on #125
can you try closing sketch and re-opening it and then test populating a simple object in a simple file?

[2018-05-07 20:36] GeorgeHinch commented on #87
This would actually be super useful. I often find myself using multiple json files and it's weird that it overwrites previous population when you populate it with another json file. Then again, maybe I'm just using it wrong?

[2018-05-11 11:36] hlambert commented on #123
Just tried getting it to work in Sketch 50. The changes and fixes to the symbols in the latest release doesn't seem to fix the issue. Just FYI

[2018-05-22 20:31] nitrada commented on #121
@nwpappas check this out:
https://github.com/preciousforever/sketch-data-populator/pull/126

[2018-05-23 22:48] nitrada commented on #121
yeah, we’ll release a new version soon. thanks again!

[2018-06-04 14:28] Oli4k commented on #116
As for now I've built a tool on Glitch.com using Tabletop that loads data from a Google Sheet, turns it into nice JSON that I can download via Express. Actually works quite well. All I have to do now is click a saved web location and point Data Populator to the file that was just downloaded.

[2018-06-05 10:36] meaziz opened #128 "Plugin command?"
This is not an issue per say.
The problem is I'm trying to create a grid of cards where the image represents a map
I'am using the Map Generator Plugin. -> https://github.com/eddiesigner/sketch-map-generator

Following the guide the layer name should be
#plugin[true, Map Generator > Generate a Map Using Google Maps]

I thing the command path I'm using is not right but can't find a way to know it.

[2018-06-05 15:59] meaziz opened #129 "#show, #hide not working in symbols."
Whenever I add an conditional expression to a layer inside a symbol it doesn't work.
it works only when trying to duplicate the root node.
and on the contrary text fields population happens only to symbol layers.
so mixing the two structures can't happen.

[2018-06-07 22:12] danscriptive commented on #128
+1

[2018-06-08 06:00] nitrada commented on #128
@meaziz
we never tried that combination of plugins. will have a look.

[2018-06-10 15:50] nitrada commented on #128
doesn't work here neither – it seems the "plugin" command is broken (as I also didn't manage to run any other plugin). getting this error message:

![image](https://user-images.githubusercontent.com/1927315/41203414-a430ffa8-6cd6-11e8-918f-fff5d5f5d302.png)

@lukasondrej do you have an idea?

[2018-06-10 18:15] nitrada commented on #121
introduced with [v2.3.2](https://github.com/preciousforever/sketch-data-populator/releases/tag/v2.3.2)

[2018-06-10 18:15] #121 closed

[2018-06-10 18:16] nitrada commented on #125
@rgbk habe not been able to reproduce. if it still occurs to you, please reopen this issue.

[2018-06-10 18:16] #125 closed

[2018-06-10 18:29] nitrada commented on #117
@florianpnn not sure I got the issue right, but all those work for me:

[code]

[2018-06-10 18:29] #117 closed

[2018-06-10 18:35] #114 closed

[2018-06-10 18:35] nitrada commented on #113
@niksmac can you provide an example use case?

[2018-06-10 18:43] nitrada commented on #111
@rynhsy AFAIK, this is required by Sketch to work.

[2018-06-10 18:43] #111 closed

[2018-06-10 18:47] nitrada commented on #109
It's not working, since a Layer Group is treated like a regular Layer. But I agree it could be helpful in some cases – and since we also added that support for Artboards…

[2018-06-10 18:50] #106 closed

[2018-06-10 18:51] #105 closed

[2018-06-10 18:55] #96 closed

[2018-06-10 18:56] #88 closed

[2018-06-10 18:57] #80 closed

[2018-06-10 19:00] #55 closed

[2018-06-11 04:45] niksmac commented on #113
Sure.
Lets say I am building an invoice. Where I want the quantity to be multiplied by the rate to get them price. Makes sense?

[2018-06-12 07:23] nitrada opened #136 "target a specific key:value in a specific object in the json array"
**via Twitter** by [Adam Deher](https://twitter.com/AdamDeher)

[code]

[2018-06-12 07:27] nitrada commented on #136
there was [this](https://github.com/preciousforever/sketch-data-populator/pull/79) pull request by @eob about google sheets support – that would mean no "detour" via JSON export from the spreadsheet. I really think somebody should do a catch up there! ;-)

[2018-06-12 07:37] nitrada commented on #136
Data Populator knows _Conditional Actions_. You define conditions (everything that works in JavaScript basically can be made working here) and if the condition renders `TRUE´, the defined actions is performed. Usually, those are Actions in Sketch – things like _Show/Hide Layer_ or _Run a Plugin Command_.

Maybe there could be a Conditional Action that, if the conditions is `TRUE`, just does specif

[2018-06-12 07:46] nitrada commented on #113
Maybe there should be a _Filter_ that allows basic mathematical operations:

`{quantity * rate}` € → `{3 * 4,99}` € → 14,97 €

`{rowvalue * 12}` → `{10 * 12}` → 120

$`{=SUM(value1,value2,value3)}` → $`{=SUM(10,20,30)}` → $70

I guess this would also need rounding and decimals parameters then…

[2018-06-12 07:49] nitrada commented on #113
@niksmac maybe you're interested in working on such filter? I think most things are already there and could be integrated via existing frameworks. Data Populator's API is pretty basic and open as it is all based on JavaScript…

[2018-06-12 14:47] niksmac commented on #113
@nitrada Yep, but only after a month.

[2018-06-13 06:30] nitrada commented on #113
that would be great!

[2018-06-22 18:31] chanjohnathan commented on #100
I'm not sure if this is similar enough to this feature, but it would be nice to be able to randomize nested objects, rather than creating specific objects.

Similar to:
[code]

[2018-07-25 13:57] miguelrdsantos opened #137 "Possibility of using a counter, for each interaction."
I would like there was the possibility of using the current counter for each interaction as a data variable.

For exemple using this data:
[code]

And I wanted to use this as **random** to populate this design:
![example](https://user-images.githubusercontent.com/855108/43205016-46c2c024-901a-11e8-91d4-fd904188d3fe.png)

Where the "**_#1_**" would be a counter (#1, #2, #3, and #4).
I can't use the

[2018-08-09 15:46] ohnoimdead commented on #128
I'm not sure this would work right now anyway because I believe the map generator plugin would need to look for the location data in the layer's metadata where the data populator stashes it. Take a look at:
https://github.com/preciousforever/sketch-data-populator/blob/c5f7fa550d01b77361ceb78b4e73817c62062780/src/library/actions/plugin.js#L95-L105

Currently sketch-map-generator only receives input

[2018-08-14 10:11] nitrada commented on #116
Pssst, something's cooking around this topic! We'll keep you posted.

[2018-08-14 15:18] lpredster commented on #116
🤗🤗🤗

[2018-09-02 10:57] philipkopylov opened #150 "Freezes when JSON contains Emoji"
**Describe the bug**
Freezes when JSON contains Emoji.

**To Reproduce**
Steps to reproduce the behavior:
1. Create JSON with any Emoji in it
2. Try to populate symbol
3. Freeze

**Environment (please complete the following information):**
 - macOS Version: 10.13.1
 - Sketch Version 48.2
 - Plugin Version 2.3.4

[2018-09-02 20:35] nitrada commented on #150
@lukasondrej might be an easy fix?

[2018-09-13 13:03] MDBas commented on #59
Make sure 'Trim overflowing text' is checked.
![image](https://user-images.githubusercontent.com/12843221/45489978-2e87d080-b766-11e8-86a3-db763b1e08e7.png)

[2018-09-15 08:46] depfu[bot] opened #152 "Depfu Error: No dependency files found"
Hello,

We've tried to activate or update your repository on Depfu and couldn't find any supported dependency files. If we were to guess, we would say that this is not actually a project Depfu supports and has probably been activated by error.

## Monorepos

Please note that Depfu currently only searches for your dependency files in the root folder. We do support monorepos and non-root files, but

[2018-09-15 19:09] Toximik opened #153 "Sketch quit unexpectedly when bad JSON provided"
**Describe the bug**
Sketch quit unexpectedly when bad JSON provided. I use this tool (https://www.csvjson.com/csv2json ) for generating JSON file with czech characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Populate witch JSON
2. Open this file [csvjson.json.zip](https://github.com/preciousforever/data-populator/files/2386009/csvjson.json.zip)
3. Click populate
4. See err

[2018-09-21 14:04] ritobruno commented on #115
How is this issue?
Is it possible now to add an array nested inside an object? Or for now the json needs to be more simple?

[2018-10-01 10:44] lyapustin commented on #116
Any updates on this topic?

[2018-10-01 18:07] nitrada commented on #116
@lyapustin only a few days left until a new release. stay tuned!

[2018-10-01 18:54] #152 closed

[2018-10-01 18:58] #87 closed

[2018-10-01 19:00] nitrada commented on #113
@niksmac did you look into adding those basic math filters? ;-)

[2018-10-02 07:42] lyapustin commented on #116
Great, thanks!

On Mon, 1 Oct 2018 at 21:07, Christophe Stoll <notifications@github.com>
wrote:

--
Dmitry Lyapustin
Lead product designer at Sola
+370 675 17 870
sola.ai  •  lyapustin.com

[2018-10-03 08:07] classyentrepreneur opened #154 "Images not populated in Sketch 52"
Images aren't getting populated in the latest version of Sketch :(

[2018-10-04 15:05] napathello commented on #154
same problem

[2018-10-04 15:34] classyentrepreneur commented on #154
@napathello, let's hope for an update. It prevents me from updating to the latest version of Sketch.

[2018-10-08 19:09] nitrada commented on #154
hey @classyentrepreneur @napathello, a fixed has been released (v2.3.5). Get the update via "Plugins > Manage Plugins…" or here: https://github.com/preciousforever/data-populator/releases/tag/v2.3.5

Let us know if it works for you and close the issue.

[2018-10-09 06:09] classyentrepreneur commented on #154
Thanks for the fix.

I didn't notice Sketch 52 added the custom Data Feeds, so I've converted my document to support their core feature, and am not able to check your plugin :(

[2018-10-11 19:07] #154 closed

[2018-10-11 19:09] nitrada commented on #116
@lyapustin @lpredster @Oli4k @csantiago132 please get in touch via [feedback@datapopulator.com](mailto:feedback@datapopulator.com) if you'd like to get a sneak peek of the next version of data populator!

[2018-10-12 09:30] dave-morris opened #155 "Missing Data – Use other data instead of substitute"
**Is your feature request related to a problem? Please describe.**
Where there is no data, I would then like to specify another string of data. However, I don't want both to be populated whilst the first specified exists.

**Describe the solution you'd like**
I would like to name the text layer something along the lines of `{awesome_title?{standard_title}}`

Whereby, if awesome_title does not exis

[2018-10-17 15:40] adamdiestelkamp commented on #100
This would be a really nice feature. As another example It'd be great to be able to use a single symbol for a bar chart with a value of `{data[i]}` and have it iterate through the array
`"data":[ 10, 20, 45, 78, 21]` automatically. Right now I can't make each bar a a symbol because I have to explicitly call out {value[0]}, {value[1]}, etc.

![image](https://user-images.githubusercontent.com/457173

[2018-10-18 12:32] Oli4k commented on #116
Just updated the plugin and it looks really promising. Nice work!

[2018-10-18 20:01] defawlt opened #156 "image not loading"
**Which version of the plugin are you using?**
[ ] Data Populator for Adobe XD

**Describe the bug**
When using the "Populate with preset" option it doesn't seem to want to load {image} from the url. It just loads the url as plain text (or rather text styled however I have it in the XD file).

**To Reproduce**
Steps to reproduce the behavior:

Create a {image} placeholder
1. Go to 'populate with p

[2018-10-19 12:00] defawlt commented on #156
@nitrada Here' s screenshot of the 3 basic steps as well as the preset JSON file i'm trying to use. I've tried it as a text layer, with a repeat grid as well as inside of an image mask for the heck of it. Hope this helps explain it better.

![1-setup](https://user-images.githubusercontent.com/967810/47216929-f6982c80-d3a6-11e8-97c3-5c37e735fc32.png)
![2-json file](https://user-images.githubusercon

[2018-10-19 15:38] nitrada commented on #156
@defawlt you need to use {image} as the name of an image mask (shape layer).

[2018-10-19 16:01] defawlt commented on #156
@nitrada That worked, I was naming the wrong thing. I was naming the layer mask rather than drilling down to the actual shape layer. Thanks for your help!

[2018-10-19 17:46] nitrada commented on #156
@defawlt happy to help. that’s valuable feedback to hear, thanks for that – it’s not yet obvious how to do it apparently :)

[2018-10-20 06:44] cat-martiancraft opened #157 "Nested Override Symbol doesn't populate"
**Which version of the plugin are you using?**
 [3.0] Data Populator for Sketch

Question:
Thank you for making this plugin! It's saving me a ton of time getting this set up! I have a few questions about this limitation...

I'm working with a shared library where I'm placing my symbol. My symbol has a background and a symbol inside to dictate how many digits in the number field. I have it named "1

[2018-10-20 07:16] nitrada commented on #157
@cat-martiancraft could you provide the sketch and JSON used?

[2018-10-20 13:58] cat-martiancraft commented on #157
@nitrada Thanks for the fast reply :) I've attached the zip here. I've noticed that it will populate if I detach the symbol :)

[git sample file.zip](https://github.com/preciousforever/data-populator/files/2498192/git.sample.file.zip)

[2018-10-20 16:32] #156 closed

[2018-10-20 16:41] nitrada commented on #157
@cat-martiancraft so your expectation would be that after populating, when switching the embedded symbol (via the override inspecator) from e.g. "number 1" to "number 3", that the value for {three} should be visible?

[2018-10-20 16:42] cat-martiancraft commented on #157
yes, is that possible? 😬

On Sat, Oct 20, 2018 at 12:42 PM Christophe Stoll <notifications@github.com>
wrote:

[2018-10-20 16:46] nitrada commented on #157
apparently not at the moment :-P

but there are another few issues with (nested) symbols we need to look into (e.g. #123 and #104). could you have a look, @lukasondrej?

[2018-10-20 17:13] cat-martiancraft commented on #157
Appreciate it! My issue sounds just like #123 except I haven’t used this
plugin until now on current version of sketch.

On Sat, Oct 20, 2018 at 12:46 PM Christophe Stoll <notifications@github.com>
wrote:

[2018-10-20 20:00] nitrada commented on #116
i’m closing this issue as populate from URL is now available. if you run into bugs or have some feedback, please open new issues :tada:

[2018-10-20 20:00] #116 closed

[2018-10-20 20:04] nitrada commented on #155
@dave-morris that’s a great idea: using custom data substitutes from the json! why don’t you add that feature and send us a PR? :-)

[2018-10-21 09:11] nitrada opened #158 "New Conditional Action for Symbols: #changeStyle"
Making use of Sketch 52's new capabilitiy to change a Style in a Symbol via Overrides

[2018-10-21 09:12] nitrada opened #159 "Making use of Sketch 52's new data binding capabilities"

[2018-10-25 15:31] creativechris08 opened #160 "Data Populate Overide Settings - Attached Sketch File"
**Which version of the plugin are you using?**
[ x ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
Allowing override population will enable us to use the same symbol but different key results [...]

**Describe the solution you'd like**
Manually set key values in override panel, run the plugin with presets to populate a

[2018-10-25 18:45] creativechris08 commented on #160
We’re using the latest 52.2 👍🏻😎

[2018-10-25 18:45] creativechris08 commented on #160
And latest plugin

[2018-10-25 20:58] nitrada commented on #160
@creativechris08 ok, so you need to use the {placeholder} in the layer name of the text layer, not the content of the override and it should work just fine!

[2018-10-26 06:07] creativechris08 commented on #160
This is know :) but this was a feature request to be able to have this option! Would this be possible or?

[2018-10-26 06:12] creativechris08 commented on #160
Please refer to attached sketch file. Using override text keys will allow the use for using One symbol but with many text key options. Something that is not currently possible using data populatior

[2018-10-26 06:15] creativechris08 commented on #160
I want to use only one symbol with (placeholder) text but have say 3 separate values without the order being random or having to use the plugin to create the grid. How would this be possible?

[2018-10-26 07:49] nitrada commented on #160
@creativechris08 ok, we already had this feature request before. This would be helpful if you for example want a *single symbol* in which you always have e.g. an image, a H1, a H2 and a Description. but in Case 1 you want it to be a Contact, in Case 2 a Product and they don't share the same key names – so you need to put the {placeholders} in the overrides. Right now, you need to define a Symbol f

[2018-10-26 08:06] nitrada commented on #100
@adamdiestelkamp great idea! it's open source, feel free to contribute the feature! =)

[2018-10-26 08:10] nitrada commented on #100
@chanjohnathan i'm not sure what you mean exactly. your example already works if you use `{status.status1}` or `{type.type1}` etc.

Please refer to #45 and #49

[2018-10-26 08:13] nitrada commented on #160
#94 is the original feature request.

[2018-10-26 08:13] nitrada commented on #94
@bottledsmoke still up for helping out to make it work? :)

[2018-10-26 08:15] nitrada commented on #94
@mhcom feel free to contribute. we'll evaluate any PR! :)

[2018-10-27 16:40] #150 closed

[2018-10-27 16:43] #153 closed

[2018-10-27 17:06] nitrada commented on #155
@dave-morris it's now possible with the latest version for Sketch: https://www.datapopulator.com/sketch/changelog.html#v3-0-1

Please check it out and let us know if it works for you!

[2018-10-29 07:41] nitrada opened #161 "Data Populator on Slack"
We created a Slack workspace for Data Populator over the weekend. Please keep posting your Bugs and Features Requests as GitHub issues.

But if you have general questions or suggestions you'd like to discuss, please use Slack. Also, we have a lot of thoughts about the future development of the plugin we'd like to share and hear your feedback on over the coming weeks.

Use this link to join:
https:

[2018-10-30 11:30] dave-morris commented on #155
Amazing thank you! I'll give it a go now.

[2018-11-03 11:30] JaccoSchumacher opened #162 "#swapSymbol does not work with Sketch Libraries"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch

**Describe the bug**
The #swapSymbol conditional action does not work with Sketch Libraries. It seems this is because the symbol it needs to swap to is not present in the sketch file, but only in the linked Library file. It cannot find the symbol to swap to.

**To Reproduce**
Steps to reproduce the behaviour:
1. Setup at

[2018-11-08 22:08] nitrada commented on #123
@andyra  @hlambert @setheryb @patowod @pieterh83 please update to version 3.0.2 and tell us if it now works for you!

https://www.datapopulator.com/sketch/

[2018-11-08 22:13] nitrada commented on #104
@andyra @fonograph we'll actually not be able to make #show, #hide and #delete actions work within symbols. but #swapSymbol now works well in nested symbols and also with Libraries. for now, you could create a condition that swaps to an "invisible" symbol, but we're going to make it possible to swap to _None_ (= no symbol selected) with – most likely – the syntax eg. `[#swapSymbol["{name}".length

[2018-11-08 22:14] nitrada commented on #108
please see last comment in #104

[2018-11-08 22:16] nitrada commented on #129
@meaziz please see last comment in #104

[2018-11-08 22:16] #129 closed

[2018-11-08 22:16] nitrada commented on #162
@JaccoSchumacher should work with v3.0.2 – please check it out and let us know!
https://www.datapopulator.com/sketch/

[2018-11-08 22:16] #162 closed

[2018-11-08 22:17] #123 closed

[2018-11-08 22:40] nitrada commented on #94
@skipjack @bottledsmoke @mhcom we're trying to get this working for v3.0.3!

[2018-11-08 22:42] nitrada commented on #157
@cat-martiancraft what you need is what's described in #94: there would be no {placeholder} _inside_ the symbol, you would just put {one}, {two} and {three} in the overrides for the very same symbol.

as commented over there, we'Re trxing to get this running in the next version…

[2018-11-08 22:44] nitrada commented on #160
@creativechris08 see #94 – we're trying to get this running in the next version…

[2018-11-09 03:58] guymeyer opened #163 "Unique values within multiple instances of the same symbol"
**Which version of the plugin are you using?**
[3.0 ] Data Populator for Sketch

**Is your feature request related to a problem? Please describe.**
As someone who uses atomic design principles, it would be awesome for Data Populator to work with this layer structure. Right now when I run Data Populator on a symbol used multiple times within a larger symbol, the returned values are the same repeate

[2018-11-09 06:00] nitrada commented on #163
@guymeyer i’d say that’s covered in #94 – please verify

[2018-11-09 09:18] JaccoSchumacher commented on #162
It works! Thanks for resolving this so quickly! Amazing support

[2018-11-09 14:55] guymeyer commented on #163
@nitrada I saw #94  and agree its close. But I think the difference is my case has the same placeholder values vs unique placeholders within a parent symbol. For instance:

![image](https://user-images.githubusercontent.com/1927/48269305-de8f5800-e3fc-11e8-8777-afcaecc7703b.png)

The parent symbol is holding 4 instances of the same symbol.

When I run Data Populator, this is the output

![image](h

[2018-11-09 15:05] guymeyer commented on #163
btw, I shouldn't even be asking for this. The plugin is already fantastic.

[2018-11-09 16:53] cat-martiancraft commented on #157
@nitrada Thank you Nitrada. #94 looks like it would be a great addition.

[2018-11-09 17:36] nitrada commented on #163
@guymeyer your feedback is priceless :)

so your problem rather is that although there are multiple actual instances of a symbol within a symbol, from data populator's perspective it's treated as a single instance (= the one from the parent symbol).

this is exactly the same if you just group multiple symbols and populate the group, not select all symbols one by one and populate.

so I guess your

[2018-11-09 19:32] guymeyer commented on #163
@nitrada I *think* thats on the right track, either way I'll leave it to you to keep this open or not. I think the visual help a bit more clearly :)

[2018-11-11 23:52] nitrada commented on #104
please check out v3.0.3!
https://www.datapopulator.com/sketch/changelog.html

[2018-11-11 23:52] #104 closed

[2018-11-11 23:52] nitrada commented on #163
please check out v3.0.3!
https://www.datapopulator.com/sketch/changelog.html

[2018-11-11 23:52] #163 closed

[2018-11-11 23:52] nitrada commented on #157
please check out v3.0.3!
https://www.datapopulator.com/sketch/changelog.html

[2018-11-11 23:52] #157 closed

[2018-11-11 23:53] nitrada commented on #94
@skipjack please check out v3.0.3!
https://www.datapopulator.com/sketch/changelog.html

[2018-11-11 23:53] #94 closed

[2018-11-11 23:54] nitrada commented on #160
@creativechris08 please check out v3.0.3!
https://www.datapopulator.com/sketch/changelog.html

[2018-11-11 23:54] #160 closed

[2018-11-12 02:29] skipjack commented on #94
Awesome @nitrada and thanks to anyone else who helped push this forward!

[2018-11-14 05:35] benjigreig commented on #157
Hey there, Have 3.0.3 but have the same issue with overrides. The nesting level is higher though 4-5 symbols deep. Happy to send over example file to test the issue with.

[2018-11-14 07:29] nitrada commented on #157
@benjigreig please describe your issue in more detail and send over that demo file to feedback@datapopulator.com

[2018-11-19 20:11] since1976 opened #164 "Checkboxes in the settings panel don't remember the last used settings."
**Which version of the plugin are you using?**
[3.0.3 ] Data Populator for Sketch

**Describe the bug**
In the settings panel the Data Option checkboxes don't remember the last used settings which results in them not working correctly when re-populating. Specifically in my case the random results wasn't working when the random checkbox appeared to be toggled on. I had to toggle the random off then

[2018-11-19 22:40] NeedMoreCoffee opened #165 "Plug in not working on multiple symbols"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch. 3.0.3

**Describe the bug**
Am unable to use plug-in to populate symbol in my document. I have 2 symbols that are identical, copied from the one that works and pasted to another symbol.  The original symbols will populate, but the duplicate will not.  This was not an issue in the previous version of the plug-in as I noti

[2018-11-23 07:39] rohr commented on #97
@nitrada your plugin is excellent. Regarding this issue, is the plan to have this functionality? It's is marked as "Won't do", but the documentation shows:
[code]
I am confused as to whether this is currently available.

[2018-11-25 15:55] nitrada commented on #97
@rohr thanks for the nice words!

the example you referenced is the #SwapSymbol conditional action, which is a generic way to swap a symbol based on a certain condition – eg if the string in the data contains a certain content (eg. “blue”) or amount of characters, swap the symbol to symbol XY (eg. symbol name “blue”).

so in the example, the {color} placeholder is being used to set the symbol name

[2018-11-29 08:18] wgstjf opened #166 "Populate with Preset not working in XD on Windows PC"
Hi,

Hopefully a quick one.  Having installed Data Populator for Adobe XD nothing happens when we choose to 'Populate from Preset' so I am assuming we need to manually install the presets but have no idea where this folder should be?  Where should the Presets folder be on a Windows 10 computer?

Any help greatly appreciated.

Cheers,

Will

[2018-11-29 14:00] codeth opened #167 "Adobe XD text area trim / ellipsis not working"
**Which version of the plugin are you using?**
Data Populator for Adobe XD

**Describe the bug**
The "Trim overflowing text" and "Insert ellipsis after" options are not working in Adobe XD.

**To Reproduce**
1. Create template which includes XD Area Text fields with placeholders
2. Use "Populate wth JSON"
3. Under "Data Options", select the trim and ellipsis options
4. Click Populate
5. Text is po

[2018-12-03 15:03] junaid2ali commented on #162
@JaccoSchumacher I also use Abstract and am trying to swap symbols from a linked library. I have my JSON file setup as:
[
 {
   "Header": "Good Morning Breakfast",
   "Main": "Beef (Master @ 5ce0d62)/Relative/Hamburger"
 },
 {
   "Header": "Time for Lunch",
   "Main": "Beef (Master @ 5ce0d62)/Relative/Cheeseburger"
 },
 {
   "Header": "Yes, it's Dinner Time",
   "Main": "Chicken Fish (Master @ 5ce

[2018-12-06 15:24] Happyperson opened #168 "Would it please be possible to draw down from more varied data sources, CSV etc."

[2018-12-06 17:19] nitrada commented on #168
@Happyperson there are no plans from our side – but it’s open source, so feel free to add the capability!

[2018-12-11 03:32] junaid2ali opened #169 "Trouble with Plugin Command"
**Which version of the plugin are you using?**
[3.0.3] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
I am trying to run a command in the Automate Plugin.

**To Reproduce**
Steps to reproduce the behavior:
<img width="836" alt="screen1" src="https://user-images.githubusercontent.com/6130499/49777492-5daad100-fcc6-11e8-91b2-18c986b89e1b.png">
<img width="852" alt="s

[2018-12-11 16:01] #165 closed

[2018-12-11 19:34] nitrada commented on #169
@junaid2ali please give more context. what are you trying to achieve and what doesn’t work?

[2018-12-11 20:18] junaid2ali commented on #169
@nitrada
I am pulling data from my json file which works. I have blocks of paragraphs where some records do not have all the lines in those paragraphs, they result in a hidden layer. I would like to run that plugin after it populated the grid to remove all the hidden layers.

[2018-12-12 07:49] nitrada commented on #169
@junaid2ali still don’t get it. can you maybe record a video?

[2018-12-12 16:23] bgott opened #170 "'Maximum Characters' feature not working with numbers (possible feature request?)"
**Plugin Version**
Data Populator for Sketch 3.0.3

**Description**
The 'maximum character' feature doesn't work with number values.

**Proposition**
If there are plans to add filtering functionality for data inputs as 'numbers' (examples: greater than, less than, parity checking, etc.) then the 'max' filter should remain as-is, handling strictly 'string' inputs. However, if those features aren't

[2018-12-12 20:04] nitrada commented on #170
@bgott we’d actually love to add numbers specific filters at some point – even some basic calculation would be great (see #113). would you be up helping here? :-)

[2018-12-18 19:22] tsheiner opened #171 "nested symbols being changed"
**Which version of the plugin are you using?**
[x ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Data populator changes the override value on a nested symbol that, as far as I can tell, does not have a name that should cause it to be changed.

**To Reproduce**
The symbol I am populating has this schema:
![screen shot 2018-12-18 at 10 56 42 am](https://user-images

[2018-12-18 20:08] nitrada commented on #171
@tsheiner we’ll have a look!

[2018-12-23 15:08] aiancuevc opened #172 "Custom color based on data hex value"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
I'm customizing an artboard for each client, so in addition to text data it would be nice to be able to set the accent colors in hex and apply it to some layers (foreground color, background color)

**Describe the solution

[2018-12-23 15:09] aiancuevc commented on #161
The invite link is no longer active! 🚨

[2019-01-15 09:55] Wiredframe opened #173 "Fit image inside bounding area (Adobe XD)"
When importing images they are fit to the height but not the width of the placeholder. Is there a way to fix this?

[2019-01-17 18:04] socon37 opened #174 "Data Populator for Figma?!"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[ X ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Integration with Figma!

**Describe alternatives you've considered**

**Additional context**

[2019-02-04 07:19] nitrada commented on #172
please see #97

[2019-02-04 07:19] #172 closed

[2019-02-04 07:21] nitrada commented on #174
no plans for a figma version in the foreseeable future.

[2019-02-04 07:21] #174 closed

[2019-02-05 11:30] davestewart opened #175 "Absolute image paths don't work"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**

Using absolute image paths appears not to work:

[code]

The text populates, but the images don't.

Using relative image paths does work though.

**Expected behavior**
The images would be populated.

**Environment (please complete the following information):**
 - macO

[2019-03-19 15:36] Simon-Tang opened #176 "Adding support for templating languages?"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

Although it is simple and intuitive to use a flat object in JSON for populating the fields, there are some use cases where it might be helpful to use a templating language like [Liquid](https://github.com/Shopify/liquid). For instance, if we want to use loops and arrays.

Do you have any t

[2019-03-27 14:26] lukewar commented on #175
I am having the same issue. I got it working only if file is in the same folder with sketch file. @davestewart you mentioned that relative path worked for you. Does that mean that you have your image in sub folder relative to sketch file?

[2019-03-27 14:28] davestewart commented on #175
Hi Luke. I can't remember now, but I think so, yes.

[2019-03-27 14:30] lukewar commented on #175
Hi Dave. I am asking because I can't get that working for me and I am thinking to figure out what am I doing wrong.

[2019-03-27 17:29] davestewart commented on #175
Yep, it works for me:

![image](https://user-images.githubusercontent.com/132681/55098493-c707f180-50b5-11e9-948d-c9d5cecbb9c9.png)

[code]

Here's a zip with the structure and files I used:

- [icon test.zip](https://github.com/preciousforever/data-populator/files/3014532/icon.test.zip)

Make sure to:

1. Have a valid JSON file
2. Place and select the symbol on stage
3. Go Plugins > Data Populato

[2019-04-01 15:40] lukewar commented on #175
Yes, my bad. I thought that this path should be relative to sketch file not the JSON file.
Thank you for your help.

[2019-04-01 18:43] davestewart commented on #175
It's a fair assumption!

[2019-04-03 07:42] Wiredframe commented on #173
Of course I don't :D The image should scale proportionally and fit inside the box.

![grafik](https://user-images.githubusercontent.com/13737875/55461450-c1019b80-55f4-11e9-8bfa-095468ad4edb.png)

[2019-04-04 09:57] amardeeprai opened #177 "Conditional Actions are not functioning"
**Which version of the plugin are you using?**
[X ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Conditional Actions are not functioning

**To Reproduce**
Steps to reproduce the behaviour:
1. Add `#hide[true]` `#show[true]` or `#delete[true]` to a layer or group
2. Run the data populator

**Expected behaviour**
The conditional action to run and the layer or group

[2019-04-10 15:59] metalhaze commented on #69
@csantiago132 You don't navigate arrays the same way you navigate Objects.

arrayName[0].presets.preset_value    --> should give you "Today"

This should work, no?

[2019-04-10 16:02] metalhaze commented on #115
@csantiago132 I mentioned this on the closed issue but posting here as well....

You don't navigate arrays the same way you navigate Objects.

presets[0].preset_value    --> should give you "Today"

[2019-04-10 16:44] metalhaze commented on #42
[code]
I would love to be able to just type "users" once in my design file, have this tool iterate over the "users" object keys, and return all the user names to automatically populate multiple text layers in my design file (maybe in conjunction with the Repeat Grid tool in Adobe XD?) That way, I don't have to do this in XD layers panel (slowly, painfully, and manually)

[code]

[2019-04-10 18:16] metalhaze opened #178 "Object key iteration skips first matching key and repeats the last key twice (Adobe XD)"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[x ] Data Populator for Adobe XD

**Describe the bug**
The Data Populator plugin will skip the first "id" key, and start at the second "id" key. Then when it gets to 8th "id" key, it will repeat it twice.

**To Reproduce**
Steps to reproduce the behavior:

1. Create 8 text layers and put the placeholder text {id} in all o

[2019-04-10 22:39] vincentrose opened #179 "Loading from a localhost url network error"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[X] Data Populator for Adobe XD

**Describe the bug**
When using "Populate from URL" with a local url. the json does not load

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Plugins>Data Populator>Populate from URL"
2. Enter a url of a local url running in docker

The preview pane says it is "Unable to previe

[2019-04-11 09:43] vincentrose commented on #179
Figured it out. The plugin only works with a valid ssl cert over https. http or ssl cert errors prevent the json from loading.

[2019-04-11 09:43] #179 closed

[2019-04-24 00:20] tsheiner opened #180 "not working with sketch 54.1?"
All of a sudden your most excellent plug in is not working for me. Is it possible there is an incompatibility with Sketch version 54.1?

[2019-04-24 16:00] tsheiner commented on #180
figured out that this issue is basically the same as #171.

[2019-04-24 16:22] #180 closed

[2019-05-06 21:25] ellunium opened #181 "On the fly loops with independent Data Paths"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch

**Is your feature request related to a problem? Please describe.**
Not really a problem, but it could make the plugin more flexible and scalable.

**Describe the solution you'd like**
- Run the plugin once with no `Data Path` defined and use layer groups to define independent, loopable keys/data paths.
- A new looping/da

[2019-05-24 13:31] jeep84 commented on #177
Same issue here:

**Environment (please complete the following information):**

macOS High Sierra 10.13.6
Sketch Version 55
Plugin Version 3.0.3

[2019-05-26 19:51] Basb opened #182 "Sketch 55: Grouped text fields don't get populated"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
When you select an artboard and choose to populate, not all text with {} variables gets populated. Unclear if this has to do with grouping. Changing the layer order has impact on which texts get populated.

**To Reproduce**
I was unable to pinpoint the exact cause.

St

[2019-05-30 15:57] guymeyer commented on #158
+1

[2019-06-09 09:58] elagha commented on #163
Sorry for commenting on a closed issue... I have the same request as @guymeyer, but I don't believe this works in v3.0.3. I still face the same issue when trying to populate a symbol's child symbols. My JSON file is structured in the same way as @guymeyer's example:

Should I structure it differently for this to work?

[2019-07-16 12:14] spoon98 commented on #167
Any updates on this, I'm facing the same issue

[2019-09-06 07:40] TaciturnTaro opened #183 "Request mode"
Now the plug-in request mode is "GET", can you develop the request mode is "POST"

[2019-09-10 13:03] AdamBiganovsky opened #184 "Loading data in to master component and refreshing his child's"
**Which version of the plugin are you using?**
[ ] Data Populator version 1.1.4

**Describe the solution you'd like**
I would like to be able populate data in Master Component which should refresh all his child's components used across project.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional cont

[2019-09-10 13:04] AdamBiganovsky commented on #184
Not sure if it's even possible do it, maybe it's more problem in Adobe XD, but posting it anyway since if it would be possible it would be tremendously useful :)
Thanks for this great plugin anyway tho! 👍

[2019-09-19 04:11] PngTran opened #185 "Plugin stop working on sketch 57.1?"
**Which version of the plugin are you using?**
[ v3.0.3] Data Populator for Sketch

**Describe the bug**
Plugin was working perfectly previously and stops working on Sketch 57.1
Tested on previous version of Sketch and it works with 56

**Environment (please complete the following information):**
 - macOS Version: Mojave 10.14.5 (18F132)
 - Sketch Version: 57.1
 - Plugin Version: 3.0.3

[2019-09-19 15:55] akiersky opened #186 "Custom symbol mappings"
**Which version of the plugin are you using?**
[ X ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
I'd like to be able to use more Human-readable layer names in my overrides. It is also hard to use the plugin with libraries shared across teams if not everyone uses the plugin.

**Describe the solution you'd like**
It wo

[2019-09-20 22:30] andyra opened #187 "Symbol Swapping with None doesn't work"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Symbol swapping doesn't work unless you pass in a symbol. In [v3.0.3](https://www.datapopulator.com/sketch/changelog.html#v3-0-3), it's suggested that you can leave out the symbol name and, if the expression returns true, the symbol will be swapped out with "none" (e.g

[2019-09-24 16:55] acutedeveloper opened #188 "Plugin Broken in Sketch 58"
**Which version of the plugin are you using?**
[ 3.0.3 ] Data Populator for Sketch

**Describe the bug**
This afternoon I had updated to version 58 of Sketch, I found that the plugin was no longer behaving as expected. When I attempt to load data from a URL or JSON into symbols it will only populate one element at a time. If you attempted to update multiple fields inside of a symbol, it would upda

[2019-09-27 13:49] anonymousretriever opened #189 "Populating symbol instance names"
v3.0.3 Data Populator for Sketch
v58 Sketch

I frequently use the Layout Options / Create Grid to generate hundreds, or even thousands, of instances of a symbol. I may not know how, and cannot seem to find documentation to the effect, to name each symbol instance from the same JSON file I'm using to populate the overrides.

I would like to be able to name each instantiated symbol from a tag—{symbo

[2019-10-17 22:46] bpica168 commented on #163
Still having this issue. Exactly as the OP describes.

[2019-10-24 11:59] marsshall commented on #182
same for adobe XD

[2019-11-08 13:12] ziyafenn opened #190 "Value with a two zeros and dot in between doesn't get fetched"
**Which version of the plugin are you using?**
Data Populator for Sketch

**Describe the bug**
When setting a specific Root Path during import and adding a nested object as a snippet into the text layer, it doesn't fetch the data.

**To Reproduce**
Example of an object
[code]

1. Set the path of the JSON during import (array[0].object)
2. I add to my text layer this snippet: `{price.value)` in ret

[2019-11-08 13:29] ziyafenn commented on #190
The problem seems to have to do with the value type of the object.

There is a dot in between `0.0` and that's the reason why it doesn't get fetched.

[2019-11-08 13:32] ziyafenn commented on #190
Just tested with another value that doesn't have `0.0` but rather `4.3`, it worked fine...

[2019-11-08 16:18] pushingvision commented on #188
This is also happening for me. Is there a timeline for a fix on this?

[2019-11-16 17:48] krohnschein commented on #158
Is there another solution available somewhere? This would be a killer featuere.

[2019-12-10 08:22] kaiser-jakob opened #191 "jakob.behrends@kaiser-x.com"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Since the latest update of sketch symbol overrides can not be used to map JSON data anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a symbol with a text layer in it
2. Name the text layer `content`
3. Add an instance of the symbol to the canvas
4.

[2020-01-13 10:18] dblooom opened #192 "Refreshing size after population"
**Which version of the plugin are you using?**
[x ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
After populationg my symbols, which uses smart layout in Sketch, they don't resize if there is more data (text) than designed in the original symbol.

**To Reproduce**
Steps to reproduce the behavior:
1. Populate symbol made with smart layout and one text line and bac

[2020-01-23 21:32] mellis3 commented on #177
Same problem here. Is there any movement on fixing this bug?

macOS Mojave 10.14.6
Sketch Version 62
Plugin Version 3.0.3

Steps to reproduce.
1. Name a layer with #show[ false ]
or
1. Name a layer with #show[ "{age}" < 30 ]
or
Any variant on a condition

Nothing seems to work.

[2020-01-31 14:13] vthomw opened #193 "hangs when poulating"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[x ] Data Populator for Adobe XD

**Describe the bug**
Data Populator hangs XD while populating on various occations. Killing XD is the only way out. Examples
1) when using / as text
2) when using align center on buttons
3) both on Mac and Win

**To Reproduce**
Steps to reproduce the behavior:
1. Select artboard in XD
2.

[2020-02-10 10:43] LennartHennigs opened #194 "Feature Request: Allow to filter elements before populating"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
I have a large dataset which contains different types of elements. Sometimes I'd like to be able to get only one type. For now I have to use different .json files which are "pre filtered".

**Describe the solution you'd lik

[2020-02-11 19:32] tralston commented on #161
@nitrada Is this slack channel still open? The invite link is expired 😢

[2020-03-04 07:56] markus-kraemer opened #195 "Multiline Text Sketch 63.1"
**Which version of the plugin are you using?**
[ x ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
The Multiline feature doesn't work with Sketch 63.1 :(

| -l n
// n = desired number of max. lines

**To Reproduce**
Steps to reproduce the behavior:
https://sketch.cloud/s/yMZnA

**Expected behavior**
Two lines of text :)

**Screenshots**
https://sketch.cloud/s/yMZn

[2020-03-04 16:30] CarolynSkalny-DMS commented on #193
I am experiencing the same issue.

[2020-03-04 17:13] #195 closed

[2020-03-13 20:06] khaggerty-adev commented on #193
I think I am experience the same issue.

- Adobe XD 25.1.12.7 for Windows
- Using "Populate with JSON"
- JSON file is simple array of JSON objects with a single key-value pair (string)
- Trying to populate a text object inside of a component inside of a "Repeat Grid" element
- After selecting my "Repeat Grid" element and selecting my JSON file, the filepath does not appear left of the "Browse" but

[2020-03-15 21:00] sirpooya opened #196 "Feature Request — save Data Options choice"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
It's frustrating to always check off Data Options checkboxes anytime I use the Plugin

**Describe the solution you'd like**
My choice could be saved and be used for next times

**Describe alternatives you've considered**

*

[2020-03-16 13:53] khaggerty-adev commented on #193
I solved my issue! I was being dumb and not using quotes around my keys in my JSON file.

I now have a separate issue where I am unable to use a different JSON file once one has already been used.

[2020-03-16 14:02] khaggerty-adev opened #197 "Error message when selected JSON is invalid"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[x] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
When selecting an invalid JSON file (e.g., no quotes around keys; no square brackets around arrays), Data Populator currently just hangs with no clear indication that the file is invalid.

**Describe the solution you'd like

[2020-03-16 14:26] khaggerty-adev opened #198 "Data Populator can't find keys inside components (Adobe XD)"
**Which version of the plugin are you using?**
[x] Data Populator for Adobe XD

**Describe the bug**
When the key is inside of an Adobe XD component, Data Populator is unable to find it.

**Expected behavior**
Data Populator should be able to populate text even inside of components. This should work both for individual components and components inside of "Repeat Grid" elements.

**Environment (ple

[2020-03-26 14:06] chrism opened #199 "Symbols do not populate, but layers do in Sketch 64"
**Which version of the plugin are you using?**
[ X ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
If I detach from a symbol then the data populates correctly, but kept as a symbol it does not work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. I have added a symbol with two fields I want to populate, one text `{message}`, one image `{image}` t

[2020-04-13 20:21] Cleecanth commented on #199
This is also true in the XD version of the plugin. I know on that end of things, this is actually a limitation of the XD api itself.

That said, some kind of error or warning would be useful.

[2020-04-20 07:39] LennartHennigs commented on #194
Any feedback?

[2020-04-23 19:15] schneiderf opened #200 "Missing data: skip and leave override unchanged"
**Which version of the plugin are you using?**
[x] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
I'm trying to populate a set of symbols with two different sets of data one after the other. This is necessary because I have one set of data for text and multiple sets for images and I don't want to have the same text data

[2020-05-04 22:21] delizade opened #201 "Symbol dimensions are not correct after JSON modifications"
[X] Data Populator for Sketch

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I updated values from JSON (value is changed and conditionally a symbol is swapped)  after operation sketch doesn't refresh dimensions correctly. If I run "Set the original size" command symbol dimension is being corrected.

This issue maybe related to "smart layout" my

[2020-05-12 18:55] akiersky opened #202 "Paste List/CSV/TSV directly"
**Which version of the plugin are you using?**
[ x ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
I don't want to always have to create a json file with my data

**Describe the solution you'd like**
Would be awesome if I could just paste in data directly. Without needing a json file somewhere. Great for copying from a

[2020-05-12 19:04] akiersky commented on #202
Of course this would only really work for a single override field. Sometimes that's all you need though.

[2020-05-22 14:00] duselton opened #203 "Tie JSON URL to a specific component"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[ X] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
Kind of, REST API coverage is delivered with more than one endpoint, need to be able to tie specific components to specific endpoints to make this really be useful. Even if GraphQL is supported, different components would

[2020-06-09 21:43] vandersonlb commented on #184
@AdamBiganovsky I have the same problem.

[2020-06-09 21:43] vandersonlb commented on #198
@khaggerty-adev I have the same problem.

[2020-06-24 11:48] sirpooya commented on #69
This solution worked but what if I want preset_value for all of the array objects?

I'm looking for a feature like this in Data Path : arrayName[0-12].presets.preset_value

[2020-06-24 12:13] sirpooya commented on #100
Guys it's 2020 & I have the exact same issue here, iteration on array of nested objects with no individual index as @nigelbalchin said.
It's very practical when working with complex real JSON APIs.

Would you please mark this as High Priority?

[2020-06-28 13:48] nitrada commented on #199
@chrism do you still have this issue with the latest version of Sketch? Also, can you try turning one of the "Contact Cards" in the Sketch Demo Document into a symbol and retry? https://www.datapopulator.com/sketch/

![image](https://user-images.githubusercontent.com/1927315/85949394-c87a3680-b956-11ea-845f-82059d583b37.png)

[2020-06-28 13:49] nitrada commented on #199
Yea, Components in Adobe XD are not yet supported (see https://github.com/preciousforever/data-populator/issues/198)

[2020-06-28 13:53] nitrada commented on #194
@LennartHennigs yeah, we hear you. though, it isn't something we're planning to add to Data Populator for the sake of keeping it simple and focussed on _populating data_. Nevertheless, we're thinking about ways how to manipulate/transform data between a data source (local JSON file or API URL) and the actual populating inside the design document.

[2020-06-28 13:56] nitrada commented on #191
@kaiser-jakob do you still have this issue with the latest version of Sketch? Also, can you try turning one of the "Contact Cards" in the Sketch Demo Document into a symbol and retry? Please let us know if it works.

https://www.datapopulator.com/sketch/

[2020-06-28 13:59] nitrada commented on #188
@acutedeveloper @pushingvision do you still have this issue with the latest version of Sketch?

[2020-06-28 14:00] nitrada commented on #185
@PngTran do you still have this issue with the latest version of Sketch?

[2020-06-28 14:02] nitrada commented on #183
@TaciturnTaro why?

[2020-06-28 14:05] nitrada commented on #182
II was able to reproduce with "test.sketch" and "test.json". It's a bug, apparently.

[2020-06-28 14:12] nitrada commented on #176
@Simon-Tang we have no plans to add something like this and have not yet looked into feasibility. Maybe yourself, or developers you know might be interested in contributing the feature?

[2020-06-28 14:14] nitrada commented on #175
We'll add a hint to the documentation and close this issue.

[2020-06-28 14:14] #175 closed

[2020-06-28 16:22] nitrada commented on #161
@tralston it's working again: https://join.slack.com/t/datapopulator/shared_invite/zt-6o73rzvp-P8eFKmujQWeqTtYSDL11wA

[2020-06-28 16:29] nitrada commented on #100
@sirpooya there are currently no plans to add this in the near future. please get in touch if you know someone who'd like to contribute, or a sponsor that could be interested and we will have a look into adding it.

[2020-07-06 16:12] #176 closed

[2020-07-06 16:12] #178 closed

[2020-07-06 16:12] #181 closed

[2020-07-06 16:12] #182 closed

[2020-07-06 16:12] #183 closed

[2020-07-06 16:12] #184 closed

[2020-07-06 16:12] #185 closed

[2020-07-06 16:12] #186 closed

[2020-07-06 16:12] #187 closed

[2020-07-06 16:12] #188 closed

[2020-07-06 16:12] #189 closed

[2020-07-06 16:12] #190 closed

[2020-07-06 16:12] #191 closed

[2020-07-06 16:12] #192 closed

[2020-07-06 16:12] #193 closed

[2020-07-06 16:12] #194 closed

[2020-07-06 16:12] #196 closed

[2020-07-06 16:12] #197 closed

[2020-07-06 16:12] #198 closed

[2020-07-06 16:12] #199 closed

[2020-07-06 16:12] #200 closed

[2020-07-06 16:12] #201 closed

[2020-07-06 16:12] #202 closed

[2020-07-06 16:12] #203 closed

[2020-07-06 16:26] #42 closed

[2020-07-06 16:26] #68 closed

[2020-07-06 16:26] #82 closed

[2020-07-06 16:26] #97 closed

[2020-07-06 16:26] #100 closed

[2020-07-06 16:26] #103 closed

[2020-07-06 16:26] #107 closed

[2020-07-06 16:26] #108 closed

[2020-07-06 16:26] #109 closed

[2020-07-06 16:26] #113 closed

[2020-07-06 16:26] #115 closed

[2020-07-06 16:26] #128 closed

[2020-07-06 16:26] #136 closed

[2020-07-06 16:26] #137 closed

[2020-07-06 16:26] #158 closed

[2020-07-06 16:26] #159 closed

[2020-07-06 16:26] #161 closed

[2020-07-06 16:26] #164 closed

[2020-07-06 16:26] #166 closed

[2020-07-06 16:26] #167 closed

[2020-07-06 16:26] #168 closed

[2020-07-06 16:26] #169 closed

[2020-07-06 16:26] #170 closed

[2020-07-06 16:26] #171 closed

[2020-07-06 16:26] #173 closed

[2020-07-06 18:53] lukasondrej opened #206 "We're currently reviewing all existing issues and planning the roadmap"

[2020-07-07 13:32] lukasondrej opened #207 "Upgrade build process"

[2020-07-07 13:33] lukasondrej opened #208 "Upgrade manifest.json"

[2020-07-07 13:34] lukasondrej opened #209 "Fix plugin icon"

[2020-07-07 13:35] lukasondrej opened #210 "Fix UI issues in latest UXP version"
- [x] Text fields
- [x] Selects
- [x] Buttons
- [x] Modal margins
- [x] JSON preview

[2020-07-07 13:38] lukasondrej opened #211 "Upgrade build process"

[2020-07-07 13:40] lukasondrej opened #212 "Fix persistence of plugin settings"

[2020-07-07 13:40] lukasondrej opened #213 "Fix critical issues with populating symbols"

[2020-07-07 13:43] lukasondrej opened #214 "Handle invalid JSON data"

[2020-07-07 13:45] lukasondrej opened #215 "Fix populating multiple selected layers/groups"

[2020-07-07 15:36] lukasondrej opened #216 "Fix conditional actions"

[2020-07-07 15:37] lukasondrej opened #217 "Fix text trimming"

[2020-07-07 15:37] lukasondrej opened #218 "Add support for populating components"

[2020-07-07 15:38] lukasondrej opened #219 "Cover whole shape when populating images"

[2020-07-07 15:38] lukasondrej opened #220 "Fix conditional actions"

[2020-07-07 15:38] lukasondrej opened #221 "Fix text trimming"

[2020-07-07 15:39] lukasondrej opened #222 "Add support for more complex symbol use cases"

[2020-07-07 15:39] lukasondrej opened #223 "Add support for smart layout layers"

[2020-07-07 15:40] lukasondrej opened #224 "Fix data path and selection issues"

[2020-07-07 15:43] #206 closed

[2020-07-07 16:02] lukasondrej opened #225 "Next steps - planning for v4"
We're planning for v4 to be a major next step in the evolution of Data Populator. Our thinking currently revolves around:

- A brand-new UI/UX to eliminate the need for complex syntax in layer names
- A unified platform for managing and manipulating data sources to make finding the right data easier
- A more stateful approach to selecting data sources for particular layers/groups

These are the co

[2020-07-08 11:15] acutedeveloper commented on #225
Very excited! ^_^

[2020-07-10 18:03] lukasondrej opened #226 "Fix clearing layers"

[2020-07-12 06:35] #226 closed

[2020-07-14 09:18] #207 closed

[2020-07-14 09:18] #208 closed

[2020-07-14 09:18] #209 closed

[2020-07-14 09:18] #210 closed

[2020-07-14 09:18] #214 closed

[2020-07-14 09:18] #211 closed

[2020-07-14 09:18] #212 closed

[2020-07-14 09:18] #213 closed

[2020-07-14 09:18] #215 closed

[2020-07-28 12:04] ziyafenn commented on #225
Would be amazing to have a new UI layer for setting the object keys for layers, instead of using layer name for an object key. Otherwise it makes layer list unreadable, this is especially bad for the Symbols.

I tried to edit the code, but this is way to complex for me 😅

[2020-08-04 18:04] metalhaze opened #229 "Filters Are Not Working in Adobe XD"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[ x ] Data Populator for Adobe XD

**Describe the bug**
I am using the syntax {gender | max 1} in my text layer inside Adobe XD because I want to get the first letter of the gender to display in my UI, but instead it's failing and displaying the entire word: "Male" instead of just the letter "M".

I tried using other filt

[2020-08-04 18:14] metalhaze commented on #229
Nevermind! I need to extract the text into it's own text layer....then it works! Sorry!

[2020-08-04 18:14] #229 closed

[2020-08-20 08:23] ses-education commented on #218
Took me several hours to try everything and then to find this request and understand, that components cannot be populated!
Please, add this feature.
Also, meanwhile please mention somewhere in the docs that components cannot be populated, it is confusing as of now!

[2020-09-02 20:33] filipux commented on #223
Right now you can press the "Shrink Instances to fit content" button to fix the layout after using datapopulator (two small arrows in the Overrides part of Inspector)

[2020-10-07 00:51] zegond opened #230 "It seems like the plugin doesn't work with the new version of sketch"
**Which version of the plugin are you using?**
[ 3.5.0 ] Data Populator for Sketch

**Describe the bug**
Updated my sketch to the latest Version 69 (107357). and the plugin doesn't populate any layers.
the plugin was working just fine on the same symbol prior to update.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'plugin/data populator'
2. Click on 'populate with jason'

**Expected

[2020-10-07 15:46] liedsee opened #231 "Data Populator"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Data Populator does not insert the Data from a working .json anymore. Error didn't occur until today in the morning. **Gave the sketch file and the json to a colleague to check. His Sketch plugin sucessfully tranferred the data.** So I uninstalled my Sketch via AppClea

[2020-10-14 13:45] rachaelguay commented on #231
Which version of the plugin are you using?
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

Describe the bug
Data Populator does not insert the Data from a .json file anymore. The only active plugin now is Data Populator. Worked before updating to sketch 69.

To Reproduce
Steps to reproduce the behavior:

Go to 'Populate with .JSON.'
Choose the JSON
Click on Populate

Expected behavi

[2020-10-18 20:06] knockerdesign commented on #231
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Data Populator does not insert the Data from a .json file anymore. The only active plugin now is Data Populator. Worked before updating to sketch 69. I confirmed this by reinstalling previous Sketch version and it worked fine. Awesome plugin!!! thanks :)

**To Reproduc

[2020-11-09 14:56] msongz opened #232 "local image url error with XD"
hi, local image url with below setting in json, but no effect:

[code]

or

[code]

or

[code]

json file is placed in /Users/username/Downloads/icon test/test.json

[2020-11-12 22:40] nomadme opened #233 "Local image path is not populating"
**Which version of the plugin are you using?**
3.5.0 Data Populator for Adobe XD

**Describe the bug**
Can't populate local image that is in the same path with the data file.

**Expected behavior**
According to the doc, the image files should be in the same path as with the data.

**Environment (please complete the following information):**
 - macOS Version: 10.15.7
 - Adobe XD Version 34.2.12.2

[2020-12-10 17:44] jakio commented on #218
Are there any plans to work on this in the near future? thanks @lukasondrej

[2020-12-23 15:48] alexismo commented on #225
Here's a suggestion that I think would help designers a ton:
For times when a JSON or API isn't publicly available, support fetching a URL and populating the data via CSS selectors.

Here's a quickly mocked-up example
![image](https://user-images.githubusercontent.com/179222/103013520-489ae680-450b-11eb-8346-155c7fe9250b.png)

![example-data-populator](https://user-images.githubusercontent.com/179

[2021-01-27 11:03] NaderMozaffari opened #235 "Auto-height does not work for text or paragraphs"
**Which version of the plugin are you using?**
[✓] Data Populator for Sketch

**Describe the bug**
i want add a multiline text via auto height option
but Auto-height does not work for text in plugin
I use RTL texts

**To Reproduce**
Steps to reproduce the behavior:
1. Add text for exp '{p.0.info}' this is a pragraphs(text multi line)
2. Click on 'Populate again' for get data
3. Shows the paragraph

[2021-02-22 17:09] lspg commented on #233
+1, i got the same problem, using xd on mac os catalina or windows 10 gives the same result. It seems populating local images doesn't work under XD.

[2021-02-23 11:02] Lewom commented on #218
Also interested in hearing if we there are any plans to work on this? Particularly adding support for Sketch components :slightly_smiling_face:

[2021-02-23 13:10] #219 closed

[2021-02-23 13:10] #217 closed

[2021-02-23 13:11] #224 closed

[2021-02-23 13:25] #233 closed

[2021-02-23 13:25] #232 closed

[2021-02-26 00:14] markszulc opened #236 "GraphQL Support"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[X] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
Awesome plugin, and hoping you'd consider the ability to consume GraphQL APIs so you can have granular support of the elements returned. GraphQL definition here: https://graphql.org/

**Describe the solution you'd like**
th

[2021-03-02 21:18] #221 closed

[2021-03-02 21:28] nitrada commented on #235
@NaderMozaffari have you tried using the multiline approach described [here](https://www.datapopulator.com/documentation/#multiline-text-layers)?

[2021-03-02 21:30] nitrada commented on #236
@markszulc that's definitely not on our roadmap – but it's open source, let u know in case you wanna contribute ;-)

[2021-03-02 21:32] nitrada commented on #231
@liedsee @rachaelguay @knockerdesign does data populator work fine again with the latest version of plugin/sketch?

[2021-03-03 02:35] jasonjgeiger opened #237 "Image permissions/rights"
**Which version of the plugin are you using?**
[ X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
Need documentation on image rights found in data-populator/images/demo/contacts.

[2021-03-04 17:37] stephalcantara commented on #231
Same issue. Just tried using the plugin today and it no longer works. Can we get an update please?

[2021-03-10 08:03] ziyafenn opened #238 "Plugin doesn't work with replaced nested symbols"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
I have a symbol that contains nested symbol, which in its turn has text layers with the JSON keys to be populated. Everything works as expected, until i replace that nested symbol with another one, which has similar structure and same text layers with JSON keys that ne

[2021-03-17 19:13] nclemente commented on #218
Same need here.
The thing is if we are having to trade interactivity (ie. clickable components) for dynamic content, and our actual need is to have both.

[2021-04-01 10:47] NaderMozaffari commented on #235
I was more comfortable with the previous method without using l-n

[2021-04-21 21:06] kaigon opened #239 "Json iterating per child element, rather than by parent element"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[x ] Data Populator for Adobe XD

**Describe the bug**
Plugin is iterating through json keys for every layer, ignoring the intended grouping structure within XD. For example, in the "Contact" example you provided, rather than filling the first group with values from the first item in the data, it instead uses the first it

[2021-04-26 07:35] eimerreis commented on #218
As far as I understand it, this is due to a limitation in the XD Api. See #198

Would also love to have that feature. I will need use CSV files until this plugin supports components

[2021-04-29 19:07] CorporateDrone opened #241 "JSON Reference for Devs."
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[X] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The ability to show developers which data points were used in mockups. We have large JSON files. It would be great if there was a way to show developers with JSON key was used in the

[2021-04-29 19:31] CorporateDrone opened #242 "Parse/Manipulate Data"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[X ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Ability to parse/manipulate JSON data. For example, we have timestamps that look like this "2021-03-09T14:53:31.859+0000" I would like the ability to write JS inbetween the curly br

[2021-04-29 21:56] nitrada commented on #242
@CorporateDrone wait for the upcoming next release!

[2021-05-09 17:27] nitrada commented on #239
@kaigon something's broken and we're investigating the issue. in the meantime, if you use "a group of groups" instead of a repeat grid, everything works fine.

[2021-05-09 17:32] nitrada commented on #218
we're planning to add this feature to the XD version as soon as it's technically feasible for us to do it in an efficient way.

feel free to support our future development here: https://www.buymeacoffee.com/datapopulator

[2021-05-09 17:33] nitrada commented on #235
what previous method are you referencing – can you describe?

[2021-05-09 17:35] nitrada commented on #238
populating components/symbols is currently not working properly. it's a known issue.

help us improve data populator:
https://www.buymeacoffee.com/datapopulator

thank you.

[2021-05-09 17:39] nitrada commented on #242
@CorporateDrone try building the latest code locally on your end and try `{time stamp | date LOCALE FORMAT}`

[2021-05-10 12:41] nitrada commented on #242
@CorporateDrone you can now also download the [latest release](https://www.datapopulator.com/releases/data-populator-v4.0.1.xdx) of the XD plugin. The [documentation](https://www.datapopulator.com/documentation/#available-filters) is still work in progress, but you get the idea. Let us know what you think!

[2021-05-10 14:43] CorporateDrone commented on #242
Awesome! I'll check it out and let you know.

On Mon, May 10, 2021 at 7:41 AM Christophe Stoll ***@***.***>
wrote:

[2021-05-11 18:42] #242 closed

[2021-05-11 18:49] nitrada commented on #231
@stephalcantara does it work again with the latest versions of sketch and data populator? If not, please provide more details and we'll look into it.

[2021-05-11 18:51] #230 closed

[2021-05-11 18:51] #235 closed

[2021-05-11 18:53] nitrada commented on #241
@CorporateDrone can you provide more details about the use case – or maybe do a rough visualization of how you imagine this to look like in the plugin UI?

[2021-05-21 16:03] nitrada commented on #239
hey @kaigon, we haven't fixed this issue with repeat grids yet, but @drosen-appneta thankfully pointed out there's a great workaround you can use: put the items of your repeat grid into a group and data populating works as expected.

Here's what I did in the "Contacts" example you mentioned for the first grid:
![image](https://user-images.githubusercontent.com/1927315/119166212-a736a300-ba5e-11eb-

[2021-05-23 04:27] GodDevs opened #248 "Anyone please help calling this value in adobe xd through data populator plugin."
i am new to data populator so can anyone please help me how to call this
![Screenshot 2021-05-23 at 9 42 06 AM](https://user-images.githubusercontent.com/84652909/119248199-3356e080-bbad-11eb-93cc-cc2c2284d0fc.jpg)

[2021-05-24 00:29] marklanham opened #249 "Condition symbols not working"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch v3.6.2

**Describe the bug**
I'm trying to show/hide a layer in Sketch using Data Populator but it doesn't work. I've tried naming the layer to #show["{user.for_hire}"] as the docs suggest but not having any luck. I've also tried making it a symbol but nothing works. These are the different names I've tried calling the la

[2021-05-24 08:15] #248 closed

[2021-05-24 08:28] GodDevs opened #250 "Bug- Data not populating in placeholders"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[✓] Data Populator for Adobe XD

**Describe the bug**
After clicking on populate, text is not showing or we can say that the data is not populating.
But in the preview its giving output.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected b

[2021-05-24 08:29] GodDevs commented on #250
Its my earnest request to the developers to solve this issue as fast as possible

[2021-05-25 19:07] nitrada commented on #250
@GodDevs please send your XD document to feedback@datapopulator.com for investigation

[2021-05-25 22:32] marklanham commented on #177
I'm having this same issue on **Sketch Version 72.2 (124462)** with **macOS Big Sur v11.2.3 (20D91)**.

Have tried multiple ways such as applying it to a **layer group** and **symbol** using the following format: `#show["{example}"]` where `{example}` is set to `true` or `false` in the JSON data but nothing works.

[2021-05-26 04:29] GodDevs commented on #250
today it is populating the data. thanks devs for the quick fix

[2021-05-26 04:31] #250 closed

[2021-05-26 04:42] GodDevs opened #252 "Feature request- Auto populate option"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[✓] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
I am retriving data from a remote json but the data is not auto populating. It would be helpful if it auto populates. As the remote json regularly updates itself.

**Describe the solution you'd like**
It would be helpful if

[2021-05-26 19:16] nitrada commented on #252
@GodDevs i understand _what_ you want to achieve, but not _why_. can you explain a bit more detailed?

[2021-05-28 06:40] GodDevs commented on #252
@nitrada The remote api which is being used in my project updates regularly. So after hosting the website its not possible to update the data and again host the website. So it would be helpful if you remove the populate button or, after adding the {placeholder template} the data should automatically come in the placeholder just like the preview below the placeholder title.
It that way the data wil

[2021-05-30 08:39] nitrada commented on #252
what kind of data request triggers would you expect then for auto populate – on opening the document? time-based?

data populator is not really capable of "listening" to changes in the data coming from the API as we're using the REST paradigm (client requests, server responds). it sounds a bit as if you're wishing for something like "streaming data" via eg websocket, but that's a whole different c

[2021-05-30 09:08] nitrada commented on #250
@GodDevs nothing has been changed, actually ;-)

[2021-05-30 09:10] nitrada commented on #177
see https://github.com/preciousforever/data-populator/issues/220 – known issue, will be fixed once a budget is availabe

[2021-05-30 09:10] #177 closed

[2021-06-23 00:27] tobolic opened #256 "Add support for populating multiple symbols nested inside another symbol"
**Which version of the plugin are you using?**
[X] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
Currently, you can populate individual symbols and their respective {placeholder} text fields and images with no issues, but if you nest those individual symbols into another symbol, you can no longer populate them individu

[2021-06-23 05:22] nitrada commented on #256
@tobolic thanks! the issue is known and will be addressed once we work on https://github.com/preciousforever/data-populator/issues/222

[2021-07-26 04:48] mindfullsilence commented on #216
Curious if there's been any progress on this

[2021-09-14 06:18] tolozine opened #257 "webp file in sketch JSON input crash"
**Which version of the plugin are you using?**
[ ✅ ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
A clear and concise description of what the bug is.
image url http://www.aaa.com/image.webp  import to image and crash

**To Reproduce**
Steps to reproduce the behavior:
1. click symbols that  above image and text
2. open plugin populate with JSON
3. choose JSON file

[2021-09-24 21:37] eaugustine commented on #249
I've experienced this as well, though specifically it doesn't work in symbol instances. I can get it working if I've named the layer appropriately and directly "Populate Again" on the layer to test it out. But the moment I make the layer into a symbol and attempt to "Populate Again" an instance of the symbol, it doesn't work.

[2021-09-27 10:23] gustavneustadt commented on #249
Dirty fixed it with _Detach from Symbol_ before populating with data. 🩹

[2021-10-12 07:53] nitrada commented on #249
sorry for the hassle, there are issues with conditional actions at the moment – especially with symbols.

[2021-10-24 07:13] dada-man opened #258 "I have no option to load the local JSON file"
**Which version of the plugin are you using?**
[ ] Data Populator for Sketch
[x ] Data Populator for Adobe XD

**Describe the bug**
The only data source option available to me in XD is `inherit` … but there's nothing to inherit.

**To Reproduce**
1. Attempt to use the plug-in
2. Get nowhere

**Expected behavior**
1. Attempt to use the plug-in
2. It lets you choose a local JSON file

**Screenshots*

[2021-12-30 15:24] nreljed opened #259 "Data populator major bugs that ruin the experience"
**Which version of the plugin are you using?**

[x] Data Populator for Adobe XD under windows 11

**Describe the bug**
I confirm that data populator no longer works correctly. I just spent 2 days thoroughly testing none of these functions worked

-Trim text ellipsis (does not work)

- **Local images** do not populate no matter what method to do #233
 even this example #175 does not work .. there i

[2021-12-31 09:59] desktopofsamuel opened #260 "Support Prefix & Suffix"
**Which version of the plugin are you using?**
**[x] Data Populator for Sketch**
[ ] Data Populator for Adobe XD

**Is your feature request related to a problem? Please describe.**
Currently unit only appear after the value, however, I deal with financial data a lot and I need manually add dollar signs ($) in front of the value manually in order to solve this problem.

**Describe the solution you'

[2022-01-10 05:56] garrytaulu commented on #260
I just discovered the plugin today and I ran into the same limitation straight away. It's helpful generating random prices for a data table but then I had to go in and manually add the currency symbol.

Perhaps the syntax for the layer name could be something like `$ + commerce.price` which would output something like `$234.43`

[2022-02-07 01:48] custa1200 commented on #257
Has this changed of late with Apple adding it to the newer versions of MacOS I would assume it was an OS level issue?

[2022-03-21 18:19] Buydens opened #266 "Plugin does not seem to work."
**Which version of the plugin are you using?**
[X ] Data Populator for Sketch
[ ] Data Populator for Adobe XD

**Describe the bug**
None of the commands do anything.
There are no windows that appear, no pop-ups... nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Plugins'
2. Click on 'Data Populator'
3. Click on any of the commands availablele
4. See nothing

**Expected behavio

[2022-03-28 09:39] theguywithhat commented on #266
I have the same issue. As I have worked a lot wit Data Populator before, I feel like this happend with the newest sketch update.

[2022-04-04 07:29] rreina commented on #266
I confirm the same issue with Sketch 85.1. This plugin is much more powerful than Sketch built-in data features. It would be awesome if there was a fix.

[2022-04-04 15:50] marybmichaels commented on #266
The same is happening to me. It worked for a few days and then stopped.

[2022-04-11 10:15] fabianbolte commented on #266
It seems this plugin used an internal class that no longer exists.

Console shows a this:

From the release notes of Sketch v84:

Source: https://developer.sketch.com/plugins/updates/new-in-sketch-84

:-/

[2022-04-15 09:39] nitrada commented on #266
@theguywithhat @rreina @marybmichaels @fabianbolte @Buydens we just pushed [a fix](https://www.datapopulator.com/sketch/changelog.html) – please update. sorry for the inconvenience.

[2022-04-15 09:39] #266 closed

[2022-04-15 10:17] #241 closed

[2022-04-15 10:20] studiostoll commented on #258
@dada-man did you create a local data source?

[2022-04-15 10:23] studiostoll commented on #259
@nreljed Data Populator is about JSON, support for Google Sheets is not planned. Regarding the issues on Windows: is this still happening for you?

[2022-04-15 10:29] studiostoll commented on #260
@desktopofsamuel @garrytaulu have you tried the "Unit" filter described [here](https://www.datapopulator.com/documentation/#unit)? Please note it's currently "suffix only", but maybe if you ask @drosen-appneta, who contributed this filter amongst others, very kindly he might be able to help

[2022-04-15 16:05] nreljed commented on #259
Thanks for your time and response
I still have problem number 4
`4 - try to do an ellipsis trim test or populate images locally`
I sometimes find that shuffle and repeat items bug

I am now at XD version 49.0.12.14

the latest version of data populator available is 4.0.3 (June 23, 2021)

I hope a good update is planned to catch up with the changes made by Adobe XD since 2021 🙏

[2022-04-17 12:08] studiostoll commented on #259
no updates are planned for the time being.

[2022-09-28 11:44] aperezbaena commented on #233
Local files are not working for me. Using Adobe XD v54.1.12.1 with Data Populator v4.0.3 on macOS Catalina v10.15.7.

Developer console error is as follows:
`Failed to get local image [Error: Could not find an entry with name 'data sources/cdbe9047-9571-44c3-ab23-c31809087108/images/{Icon}' in '/Users/_username_/Library/Application Support/Adobe/UXP/PluginsStorage/SPRK/External/1c0ce86b/PluginData